<%= form_for(@treatment) do |f| %>

  <%= render "shared/error_messages", :target => @treatment %>

  <p>
  	<%= f.label :name %>
    <%= f.text_field :name, :class => "input-text" %>
  </p>
  <p>
  	<%= f.label :price %>
    <%= f.number_field :price, :class => "input-text"  %>
  </p>
  
  <%= f.submit(t(:save), :class => "button nice white", :disable_with => t(:please_wait)) %> 

<% end %>
