<%= form_for(@treatment) do |f| %>
  <%= render "shared/error_messages", :target => @treatment %>

  <div class="card card-md">
    <div class="card-body">
  	  <div class="mb-3">
        <%= f.label :name, class: "form-label required" %>
        <%= f.text_field :name, :class => "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :price, class: "form-label required" %>
        <%= f.number_field :price, :class => "form-control"  %>
      </div>
    </div>
  
    <div class="card-footer text-end">
      <div class="d-flex">
        <%= f.submit(t(:save), :class => "btn btn-primary ms-auto", data: { disable_with: t(:please_wait) }) %>
      </div>
    </div>
  </div>
<% end %>
