<div id="pad-wrapper" class="table-wrapper users-list">

	<div class="row header col-md-12">
        <h3><%= t :treatments %></h3>

        <div class="pull-right">            
            <%= link_to t(:create_new_treatment), new_treatment_url, "class" => "btn-flat primary pull-right" %>
        </div>
    </div>

    <div class="row">
		    <div class="col-md-12">
			    <% if @treatments.empty? %>
					<div class="alert alert-warning">
						<p><%= t(:no_treatments_message)%></p>
						<p><%= link_to t(:use_preloaded_treatments), predefined_treatments_treatments_path %></p>
					</div>			
				<% else %>
			        <table class="table table-hover">
			            <thead>
			                <tr>
			                    <th class="col-md-4">
			                        <%= t :name %>
			                    </th>
			                    <th class="col-md-2">
			                        <span class="line"></span> <%= t :price %>
			                    </th>
			                    <th class="col-md-2">
			                    </th>
			                </tr>
			            </thead>
			            <tbody>
			            
				            <% @treatments.each do |treatment| %>
					            <tr class="<% if treatment.id == @treatments.first.id %>first<% end %>">	
					            	<td>
					                    <%= link_to treatment.name, treatment, :class => "name" %>
					                </td>
					                <td>
						                <% if !treatment.missing_info? %>	 
							                <%= number_to_currency_with_currency(treatment.price)%>
							            <% else %>
						  					<%= t :treatment_without_price %>					  				
										<% end %>
									</td>

					                <td>
					                	<ul class="actions">
		                                    <li><%= link_to t(:edit), edit_treatment_path(treatment) %></li>
											<li class="last"><%= link_to t(:delete), treatment, :method => :delete, :confirm => t(:are_you_sure) %>
											</li>
		                                </ul>								
					                </td>
					            </tr>
					        <% end %>

					    </tbody>
					</table>
				<% end %>
		</div>
	</div>
</div>

