<div class="row">
	<div class="eight columns">
		<h1><%= t :treatments %></h1>

		<% if @treatments.empty? %>
			<div class="alert-box warning">
				<p><%= t(:no_treatments_message)%></p>
				<p><%= link_to t(:use_preloaded_treatments), predefined_treatments_treatments_path %></p>
				<a href="" class="close">&times;</a>
			</div>
		<% end %>

		<ul id="list-items">
			<% @treatments.each do |treatment| %>
				<li>
					<h2><%= link_to treatment.name, treatment %>
						<% if treatment.missing_info? 
							incomplete_tag
						else %>
							<small><%= number_to_currency_with_currency(treatment.price)%></small>

						<% end %>
					</h2>			
		
					<% if treatment.missing_info? %>
					  	<span data-icon="!"><%= raw t :treatment_without_price, delete_url: (link_to (t(:delete_treatment)).downcase, treatment_path(treatment), :method => :delete, :confirm => t(:are_you_sure)) %></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="four columns">
		<div class="panel">
						
			<p><%= link_to t(:create_new_treatment), new_treatment_url, "data-icon" => "+" %></p>
		</div>
	</div>
</div>