<h1><%=_('Treatments')%> <%= link_to "+", new_treatment_url, :class => "g-button" %></h1>

<ul id="list-items">
	<% if @treatments.empty? %>
		<p><%=("Your practice doesn't have any treatments, remember that you need at least one treatment in order to have a treatment history for your patients.")%></p>
	<% else %>
		<% @treatments.each do |treatment| %>
	
			<% if treatment.invalid?
				cclass = "invalid-list"
			   else
				cclass = ""
			   end %>

			<li class="<%=cclass%>">
				<h2><%= link_to treatment.name, treatment %></h2>			

				<% if !treatment.invalid? %>
					<span><%= number_to_currency_with_currency(treatment.price)%></span>
				  <% else %>
				  	<span><%=_("Specify a price to use this treatment")%></span>
				<% end %>

				<div class="list-item-button"><%=link_to _('Delete'), treatment, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %></div>
				<div class="list-item-button"><%=link_to _('Edit'), edit_treatment_path(treatment), :class => "g-button" %></div>
			</li>
		<% end %>
	<% end %>
</ul>

<%= link_to _("Create new treatment"), new_treatment_url, :class => "g-button" %>
