<h1><%=_('Treatments')%> <%= link_to "+", new_treatment_url, :class => "g-button dark" %></h1>

<% if @treatments.empty? %>
	<div class="info">
		<%=_("Your practice doesn't have any treatments, remember that you need at least one treatment in order to have a treatment history for your patients.")%> 
		<%=_("We can load a list of typical treatments for you if you")%> <%=link_to _('click here'), sample_treatments_treatments_path %>
		
		</div>
<% end %>

<ul id="list-items">
	<% @treatments.each do |treatment| %>

		<% if treatment.missing_info?
			cclass = "invalid-list"
		   else
			cclass = ""
		   end %>

		<li class="<%=cclass%>">
			<h2><%= link_to treatment.name, treatment %></h2>			

			<% if !treatment.missing_info? %>
				<span><%= number_to_currency_with_currency(treatment.price)%></span>
			  <% else %>
			  	<span><%=_("Specify a price to use this treatment")%></span>
			<% end %>

			<div class="list-item-button"><%=link_to _('Delete'), treatment, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %></div>
			<div class="list-item-button"><%=link_to _('Edit'), edit_treatment_path(treatment), :class => "g-button light" %></div>
		</li>
	<% end %>
</ul>

<div id="toolbar">
	<%= link_to _("Create new treatment"), new_treatment_url, :class => "g-button action" %>
</div>