<div class="row">
	<div class="eight columns">
		<h1><%=@treatment.name%></h1>
		
		<p>
			<strong><%= t :price %>:</strong> <%= number_to_currency_with_currency @treatment.price %>
		</p>
	</div>
	
	<div class="four columns">		
		<div class="panel">	
			<ul>
				<li><%= link_to t(:edit_treatment), edit_treatment_path(@treatment), "data-icon" => "x" %></li>
				<li><%= link_to t(:delete_treatment), treatment_path(@treatment), :method => :delete, :confirm => t(:are_you_sure), "data-icon" => "-" %></li>
				<li><%= link_to t(:return_to_listing), treatments_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>