<h1><%=@treatment.name%></h1>
<p>
	<label><%=_("Price")%>:</label> <%= number_to_currency @treatment.price%>
</p>
<p>
	<%=link_to _("Edit"), edit_treatment_path(@treatment), :class => "g-button" %>
	<%=link_to _("Delete"), treatment_path(@treatment), :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %>
	<%=_("or")%> <%=link_to _("Return to the listing"), treatments_url %>
</p>
