<div id="note<%=note.id%>" class="alert alert-dismissable">
	<%= link_to raw("&times;"), [noteable, note], :method => :delete, :remote => true, :class => "close" %>
	<p><%= note.notes %></p>
	<sub>	
		<% if not note.user.nil? %>
			<%= note.user.fullname %>
		<% end %>
		<%= t :ago_in_words, date: time_ago_in_words(note.created_at) %> 
	</sub>
</div>