<% type = local_assigns.fetch(:type) %>
<% allowed_types = [
  :primary, :secondary, 
  :success, :danger, :warning, :info, 
  :light, :dark
] %>
<% unless type.in?(allowed_types) %>
  <% raise "#{type} is invalid. Allowed values: #{allowed_types.join(', ')}." %>
<% end %>

<% title = local_assigns[:title].presence %>
<% message = yield.presence || local_assigns.fetch(:message) %>

<div class="modal-dialog modal-sm" role="document">
  <div class="modal-content">
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    <div class="modal-status <%= "bg-#{type}" %>"></div>
    <div class="modal-body text-center py-4">
      <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
      <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 <%= "text-#{type}" %> icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v2m0 4v.01"></path><path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path></svg>
      
      <% if title.present? %>
        <h3><%= title %></h3>
      <% end %>
      <div class="text-muted"><%= message %></div>
    </div>
    <div class="modal-footer">
      <div class="w-100">
        <div class="row">
          <div class="col"><a href="javascript:void(0)" class="btn w-100" data-bs-dismiss="modal">
              <%= t(:cancel) %>
            </a></div>
          <div class="col">
            <a href="javascript:void(0)" class="btn <%= "btn-#{type}" %> w-100" data-bs-dismiss="modal">
              <%= t(:delete) %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>