<% form_tag password_reset_path, :method => :put do %>
  <p><%= _('Please enter the new password below and then press Update password.')%></p>
  <p><%= password_field_tag :password, :class => "input-text" %></p>
  
  <%= submit_tag _('Update password'), :class => "button nice blue" %> <%=_("or")%> <%= link_to _("sign in"), signin_path %>
<% end %>