<h1><%= _('Update your password') %></h1>

<p><%= _('Please enter the new password below and then press Update password.')%></p>

<% form_tag password_reset_path, :method => :put do %>
  <p><%= password_field_tag _('Password') %></p>
  <%= submit_tag _('Update password'), :class => "g-button" %> <%=_("or")%> <%= link_to _("go back"), signin_path %>
<% end %>