<%= form_tag password_resets_path do %>
	<p><%= t :password_reset_instructions %></p>

	<p>
	  <%= text_field_tag :email, nil, :placeholder => t(:email), :autocapitalize => "off", :autocorrect => "off", :class => "input-text" %>
	</p>
	
	<%= submit_tag( t(:reset_password), :class => "button nice blue") %> <%= t :or %> <%= link_to t(:go_back), signin_path %>
<% end %>