<h1>Newsletter to all Users</h1>

<%= form_tag send_newsletter_admin_path do %>

  <p>
    <%= text_field_tag :subject %>
  </p>
  <p>
    <%= text_area_tag :body %>
  </p>

	<div id="toolbar">
		<%= submit_tag(_("Send"), :class => "g-button action", :disable_with => _("Please wait...")) %> 
		<%=_("or")%> <%= link_to _("Cancel"), "/" %>
	</div>
<% end %>
