<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
			<div class="page-pretitle">
			  Showing <%= @practices.count %> of <%= @total_practices %> results
      </div>
      <h2 class="page-title">
        Practices
      </h2>
    </div>
		<div class="col-auto ms-auto">
        <div class="btn-list">
          <%= component :dropdown, title: "Filter" do %>
            <%= link_to "All", nil, class: "dropdown-item #{params[:filter].nil? ? 'active' : ''}" %>
            <%= link_to "Active", "?filter=active", class: "dropdown-item #{params[:filter] == 'active' ? 'active' : ''}" %>
            <%= link_to "Trialing", "?filter=trialing", class: "dropdown-item #{params[:filter] == 'trialing' ? 'active' : ''}" %>
            <%= link_to "Past Due", "?filter=past_due", class: "dropdown-item #{params[:filter] == 'past_due' ? 'active' : ''}" %>
            <%= link_to "Canceled", "?filter=canceled", class: "dropdown-item #{params[:filter] == 'canceled' ? 'active' : ''}" %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<div class="page-body">
  <div class="card">
		<div class="table-responsive">
			<table class="table table-vcenter">
				<thead>
					<tr>
						<th>id</th>
						<th>name</th>
						<th>subscription</th>
						<th>datebooks</th>
						<th>patients</th>
						<th>doctors</th>
						<th>joined</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @practices.each do |practice| %>
						<tr>
							<td><%= practice.id %></td>
							<td>
								<strong><%= practice.name %></strong>
								<br /> 
								<small class="text-muted"><%= practice.email %></small>
								
								<% if practice.cancelled_at %> 
									<br /> 
									<small class="text-muted">Cancelled at <%= practice.cancelled_at %></small>
								<% end %>
							</td>
							<td>
								<%= practice.subscription.status.titlecase %>
								<br />
								<small class="text-muted">Next billing on <%= practice.subscription.current_period_end.strftime('%F') %></small>
							</td>
							<td><%= practice.datebooks_count %></td>
							<td><%= practice.patients_count %></td>
							<td><%= practice.doctors_count %></td>
							<td><%= practice.created_at.strftime('%F at %I:%M %P') %></td>
							<td class="text-end">
								<% if current_user_is_superadmin? %>
									<%= button_to 'Impersonate', admin_practice_impersonate_path(practice), method: :post, class: 'btn btn-1', data: { turbo: false } %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
