<div id="pad-wrapper" class="table-wrapper users-list">

	<div class="row header col-md-12">
        <h3><%= @practices.count %> practices</h3>
    </div>

	<div class="row">
	    <div class="col-md-12">
	        <table class="table table-hover">
	            <thead>
	                <tr>
	                    <th class="col-md-1">
	                        ID
	                    </th>
	                    <th class="col-md-4">
	                        <span class="line"></span> Name
	                    </th>
	                    <th class="col-md-1">
	                        <span class="line"></span> Datebooks
	                    </th>
	                    <th class="col-md-1">
	                        <span class="line"></span> Patients
	                    </th>
	                    <th class="col-md-1">
	                        <span class="line"></span> Doctors
	                    </th>
	                    <th class="col-md-4">
	                        <span class="line"></span> Joined
	                    </th>
	                </tr>
	            </thead>
	            <tbody>

				<% @practices.each do |practice| %>
					<tr>
						<td><%= practice.id %></td>
						<td><%= practice.name %></td>
						<td><%= practice.datebooks_count %></td>
						<td><%= practice.patients_count %></td>
						<td><%= practice.doctors_count %></td>
						<td><%= practice.users_count %></td>
						<td><%= practice.created_at %></td>
					</tr>
				<% end %>
			</tbody>
					
		</table>
		
	</div>	
</div>