<%= form_for(@datebook, :class => "form-horizontal") do |f| %>
  <%= render "shared/error_messages", :target => @datebook %>

  <p class="form-group col-md-8">
  	<%= f.label :name %> *
    <%= f.text_field :name, :class => "form-control" %>
  </p>

  <p class="form-group col-md-8">
    <%= f.label :starts_at %> *
    <%= f.number_field :starts_at, :class => "form-control" %>
  </p>

  <p class="form-group col-md-8">
    <%= f.label :ends_at %> *
    <%= f.number_field :ends_at, :class => "form-control" %>
  </p>

  <p class="form-group col-md-8">
	 <%= f.submit(t(:save), :class => "btn btn-primary", data: { disable_with: t(:please_wait) }) %>
    <span class="cancel"><%= t :or %>
      <%= link_to t(:cancel).downcase, datebooks_url %>
    </span>
  </p>

<% end %>
