<div id="pad-wrapper" class="table-wrapper users-list">

	<div class="row header col-md-12">
        <h3><%= t :datebooks %></h3>

        <div class="pull-right">            
            <%= link_to t(:create_new_datebook), new_datebook_url, "class" => "btn-flat primary pull-right" %>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-12">
	        <table class="table table-hover">
	            <thead>
	                <tr>
	                    <th class="col-md-4">
	                        <%= t :name %>
	                    </th>
	                    <th class="col-md-2">
	                        <span class="line"></span> <%= t :updated_at %>
	                    </th>
	                    <th class="col-md-2">
	                        <span class="line"></span> <%= t :status %>
	                    </th>
	                </tr>
	            </thead>
	            <tbody>
	            
		            <% @datebooks.each do |datebook| %>
			            <tr class="<% if datebook.id == @datebooks.first.id %>first<% end %>">	
			            	<td>
			                    <%= link_to datebook.name, datebook, :class => "name" %>
			                </td>
			                <td><%= datebook.updated_at.to_formatted_s :short %></td>
			                <td>
			                	<% if datebook.appointments_count > 0 %>
			                		<%= label_tag t(:active).downcase, "success" %>
			                	<% else %>
			                		<%= label_tag t(:inactive).downcase %>
			                	<% end %>

			                	<ul class="actions">
                                    <li><%= link_to t(:edit), edit_datebook_path(datebook) %></li>
									<li class="last">
										<% if datebook.appointments_count > 0 %>
											<span class="strikethrough"><%= t :delete %></span>
										<% else %>
											<%= link_to t(:delete), datebook, :method => :delete, :confirm => t(:are_you_sure) %>
										<% end %>
									</li>
                                </ul>								
			                </td>
			            </tr>
			        <% end %>

			    </tbody>
			</table>
		</div>
	</div>
</div>

