<script type="text/javascript">

	$(document).ready(function() {

		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		var withDoctorIdString = '<% if params[:doctor_id] %>?doctor_id=<%=params[:doctor_id]%><% end %>';
		var datebookId = '<%= @datebook.id %>';
		var endpointURL = "/datebooks/" + datebookId + "/appointments";

		$("#calendar").fullCalendar({
			defaultView: <% if @is_mobile.nil? %>"agendaWeek"<%else%>"agendaDay"<% end %>,
			minTime: 8,
			maxTime: 21,
			firstDay: 1,
			//timeFormat: 'h:mm t{ - h:mm t} ',
			<% if @is_mobile.nil? %>
				header: {
					left: "month,agendaWeek,agendaDay",
					center: "title",
					right: "prev,next today"
				},
			<% else %>
				header: {
					left: "prev,next today",
					center: "",
					right: ""
				},
			<% end %>
			monthNames: <%= raw (t "date.month_names").last(12) %>,
			monthNamesShort: <%= raw (t "date.abbr_month_names").last(12) %>,
			dayNames: <%= raw (t "date.day_names").last(7) %>,
			dayNamesShort: <%= raw (t "date.abbr_day_names").last(7) %>,
			buttonText: {
			    prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
			    next:     '&nbsp;&#9658;&nbsp;',  // right triangle
			    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
			    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
			    today:    '<%= t :today %>',
			    month:    '<%= t :month %>',
			    week:     '<%= t :week %>',
			    day:      '<%= t :day %>'
			},
			editable: true,
			eventSources: [{
			  url: endpointURL + withDoctorIdString,
			  ignoreTimezone: true
			}],
			allDaySlot: false,
			allDayDefault: false,
			dayClick: function(dayDate, allDay, jsEvent, view){
				if (view.name != "month"){
					var url = endpointURL + '/new';
					var timestamp = Math.round((dayDate).getTime() / 1000);

					$.get(url, {"starts_at": timestamp}, function(data) {
					  $('.modal-title').html($.fullCalendar.formatDate(dayDate, "dd, MMMM · hh:mm tt"));
	    			  $('.body-container').html(data);
					  $(".modal").modal();
					});
				} else {
					$("#calendar").fullCalendar('changeView', 'agendaDay');
					$("#calendar").fullCalendar('gotoDate', dayDate);
				}
			},
			eventClick: function(calEvent, jsEvent, view) {
				var url = endpointURL + '/' + calEvent.id + "/edit?patient_id=" + calEvent.patient_id;

				$.get(url, function(data) {
				  $('.modal-title').html($.fullCalendar.formatDate(calEvent.start, "dd, MMMM · hh:mm tt"));
	    		  $('.body-container').html(data);
				  $(".modal").modal();
				});
			},

			eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
				//update the event with the new data
				$.ajax({
				    type: "PUT",
				    url: endpointURL + "/" + JSON.stringify(event.id),
				    data: {
				    	"appointment[starts_at]": JSON.stringify(event.start),
							"appointment[ends_at]": JSON.stringify(event.end)
						  }
				});
			},
			eventResize: function(calEvent, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {
				// update the event with the new data
				$.ajax({
				    type: "PUT",
				    url: endpointURL + "/" + calEvent.id,
				    data: {
				    	"appointment[starts_at]": JSON.stringify(calEvent.start),
							"appointment[ends_at]": JSON.stringify(calEvent.end),
						  }
				});
			},
			eventAfterRender: function(event, element, view) {
				element.find('.fc-event-time').append(" " + event.firstname + " " + event.lastname);
				// Add touch dragging to event element
				element.addTouch();
     		}
		});
	});
</script>

<div id="pad-wrapper">
    <div class="row-fluid calendar-wrapper">
        <div class="span12">

			<div id="calendar"></div>

			<div class="modal fade" tabindex="-1">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title"><%= t :please_wait %></h4>
			      </div>

			      <div class="body-container">
			      	<%= t :please_wait %>
			      </div>
			    </div>
			  </div>
			</div>

			<br />

			<div class="col-md-3 col-sm-6 doctor-pill <%= @filtered_by.nil? ? 'active' : ''%>">
				<a href="/"><i class="fa fa-circle-o" style="color: #333333"></i>&nbsp; <%= t :everyone %></a>
			</div>

			<% @doctors.each do |doctor| %>
				<div class="col-md-3 col-sm-6 doctor-pill <%= @filtered_by.to_i == doctor.id ? 'active' : ''%>">
					<a href="?doctor_id=<%=doctor.id%>"><i class="fa fa-circle-o" style="color: <%= doctor.color %>"></i>&nbsp; <%= doctor.fullname %></a>
				</div>
			<% end %>

		</div>
	</div>
</div>
