<%= form.fields_for :users do |user_form| %>

	<p>
	  <%= user_form.label "First Name" %><br />
	  <%= user_form.text_field :firstname %>
	</p>
	<p>
	  <%= user_form.label "Last Name" %><br />
	  <%= user_form.text_field :lastname %>
	</p>
	<p>
	  <%= user_form.label "Email" %><br />
	  <%= user_form.text_field :email %>
	</p>
	<p>
	  <%= user_form.label "Password" %><br />
	  <%= user_form.password_field :password %>
	</p>
	<p>
	  <%= user_form.label "Password Confirmation" %><br />
	  <%= user_form.password_field :password_confirmation %>
	</p>

<% end %>