<%= form_for(@user) do |f| %>
	
	<%= render "shared/error_messages", :target => @user%>
	
	<fieldset>
	  <legend><%= t :personal_information%></legend>
	  <p>
	  	<%= f.label :firstname %>
	    <%= f.text_field :firstname, :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :lastname %>
	    <%= f.text_field :lastname, :class => "input-text"  %>
	  </p>
	</fieldset>
	<fieldset>
	  <legend><%= t :account_information%></legend>
	  <p>
	  	<%= f.label :email %>
	    <%= f.email_field :email, :class => "input-text" %>
	  </p>
		<p>
			<%= f.label :password %>
		  <%= f.password_field :password, :class => "input-text" %>
		</p>
		<p>
			<%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation, :class => "input-text" %>
		</p>
	</fieldset>
	
  <%= f.submit( t(:save), :class => "button nice white", :disable_with => t(:please_wait)) %>

<% end %>