<%= form_for(@user) do |f| %>
	
	<%= render "shared/error_messages", :target => @user%>
	
	<fieldset>
	  <legend><%=_("Personal information")%></legend>
	  <p>
	  	<%= f.label :firstname %>
	    <%= f.text_field :firstname, :title => _("First name"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :lastname %>
	    <%= f.text_field :lastname, :title => _("Last name"), :class => "input-text"  %>
	  </p>
	</fieldset>
	<fieldset>
	  <legend><%=_("Account information")%></legend>
	  <p>
	  	<%= f.label :email %>
	    <%= f.email_field :email, :title => _("Email"), :class => "input-text" %>
	  </p>
		<p>
			<%= f.label :password %>
		  <%= f.password_field :password, :title => _("Password"), :class => "input-text" %>
		</p>
		<p>
			<%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation, :title => _("Confirm your password"), :class => "input-text" %>
		</p>
	</fieldset>
	
  <%= f.submit(_("Save"), :class => "button nice white", :disable_with => _("Please wait...")) %>

<% end %>