<%= form_for(@user) do |f| %>
  <%= render "shared/error_messages", :target => @user %>
  
  <div class="card card-md">
    <div class="card-body">
      <div class="mb-3">
        <%= f.label :firstname, class: "form-label required" %>
        <%= f.text_field :firstname, :class => "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :lastname, class: "form-label required" %>
        <%= f.text_field :lastname, :class => "form-control"  %>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: "form-label required" %>
        <%= f.email_field :email, :class => "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: "form-label required" %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: "form-label required" %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>
    </div>

    <div class="card-footer text-end">
      <div class="d-flex">
        <%= f.submit(t(:save), :class => "btn btn-primary ms-auto", data: { disable_with: t(:please_wait) }) %>
      </div>
    </div>
  </div>
<% end %>