<%= form_for(@user) do |f| %>

	<fieldset>
	  <legend>Personal information</legend>
	  <p>
	    <%= f.text_field :firstname, :placeholder => "First name", :title => "First name" %>
	  </p>
	  <p>
	    <%= f.text_field :lastname, :placeholder => "Last name", :title => "Last name"  %>
	  </p>
	</fieldset>
	<fieldset>
	  <legend>Account information</legend>
	  <p>
	    <%= f.text_field :email, :placeholder => "Email", :title => "Email" %>
	  </p>
		<p>
		  <%= f.password_field :password, :placeholder => "Password", :title => "Password" %>
		</p>
		<p>
		  <%= f.password_field :password_confirmation, :placeholder => "Confirm your password", :title => "Confirm your password"  %>
		</p>
	</fieldset>

  <%= f.submit("Save", :class => "g-button") %> or <%= link_to "Cancel", users_path %>


<% end %>