<%= form_for(@user) do |f| %>

	<fieldset>
	  <legend><%=_("Personal information")%></legend>
	  <p>
	    <%= f.text_field :firstname, :placeholder => _("First name"), :title => _("First name") %>
	  </p>
	  <p>
	    <%= f.text_field :lastname, :placeholder => _("Last name"), :title => _("Last name")  %>
	  </p>
	</fieldset>
	<fieldset>
	  <legend><%=_("Account information")%></legend>
	  <p>
	    <%= f.text_field :email, :placeholder => _("Email"), :title => _("Email") %>
	  </p>
		<p>
		  <%= f.password_field :password, :placeholder => _("Password"), :title => _("Password") %>
		</p>
		<p>
		  <%= f.password_field :password_confirmation, :placeholder => _("Confirm your password"), :title => _("Confirm your password") %>
		</p>
	</fieldset>

  <%= f.submit(_("Save"), :class => "g-button") %> <%=_("or")%> <%= link_to _("Cancel"), users_path %>


<% end %>