<h1>Users <%= link_to "+", new_user_url, :class => "g-button" %></h1>


<ul id="list-items">
	<% @users.each do |user| %>
		<li>
			<h2><%= link_to user.fullname, user %> <% if user_is_admin?(user) %> (admin)<%end%></h2>

			<span><strong>E-mail:</strong> <%=user.email%></span>
			<span><strong>Last seen:</strong> <% if user.last_login_at %><%= time_ago_in_words(user.last_login_at) %><% else %>never<% end %></span>	

			<% unless user_is_admin?(user) %>
				<div class="list-item-button"><%= link_to "Delete", user, :method => :delete, :confirm => "Are you sure?", :class => "g-button red" %></div>
			<% end %>
			<div class="list-item-button"><%= link_to "Edit", edit_user_path(user), :class => "g-button" %></div>
		</li>

	<% end %>
</ul>

<%= link_to "Create new user", new_user_path, :class => "g-button" %>
