<div class="row">
	<div class="eight columns">

		<h1><%=@user.fullname%></h1>

		<p>
			<strong><%= t :email %>:</strong> <%= @user.email%>
		</p>
		<p>
			<strong><%= t :last_seen %>:</strong> <% if @user.last_login_at %><%= l @user.last_login_at, :format => :long %> ( <%= time_ago_in_words(@user.last_login_at)%> <%= t :ago %>)<% else %><%= t :never %><% end %>
		</p>
		<p>
			<strong><%= t :number_of_signins %>:</strong> <% if @user.login_count.to_i > 1 %><%= @user.login_count %><% else %><%= t :none %><% end %>
		</p>
	</div>
	
	<div class="four columns">
		<div class="panel">			
			<ul>
				<% if is_editeable_by_current_user(@user) %>
					<li><%=link_to t(:edit_user), edit_user_path(@user), "data-icon" => "x" %></li>
				<% end %>
				<% if user_is_admin?(current_user) && !user_is_admin?(@user) %>
					<li><%=link_to t(:delete_user), user_path(@user), :method => :delete, :confirm => t(:are_you_sure), "data-icon" => "-" %></li>
				<% end %>
				<li><%=link_to t(:return_to_listing), users_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>
