<div class="page-header mb-4">
  <div class="row g-2 align-items-center">
    <div class="col-auto me-2">
      <span class="avatar avatar-lg rounded-circle"><%= @user.initials %></span>
    </div>
    <div class="col">
      <h4 class="m-0">
        <h2 class="page-title">
          <%= @user.fullname %>
        </h2>
      </h4>
      <div class="text-muted">
        <%= @user.email %>
      </div>
      <div class="small mt-1">
        <% if user_is_admin?(@user) %>
          <%= label_tag @user.roles, :red %>
        <% else %>
          <%= label_tag @user.roles, :green %>
        <% end %>
      </div>
    </div>
    <div class="col-auto">
      <div class="btn-list">
        <%= link_to t(:edit), edit_user_path(@user), class: "btn" %>
        <% if user_is_admin? && @user != current_user %>
          <%= link_to t(:delete), @user, method: :delete, data: { confirm: t(:are_you_sure_no_undo) }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>