<div class="row">
	<div class="eight columns">

		<h1><%=@user.fullname%></h1>

		<p>
			<strong><%=_('Email')%>:</strong> <%= @user.email%>
		</p>
		<p>
			<strong><%=_('Last seen')%>:</strong> <% if @user.last_login_at %><%= l @user.last_login_at, :format => :long %> ( <%= time_ago_in_words(@user.last_login_at)%> <%=_('ago')%>)<% else %><%=_('never')%><% end %>
		</p>
		<p>
			<strong><%=_('Number of signins')%>:</strong> <% if @user.login_count.to_i > 1 %><%= @user.login_count %><% else %><%=_("none")%><% end %>
		</p>
	</div>
	
	<div class="four columns">
		<div class="panel">			
			<ul>
				<% if is_editeable_by_current_user(@user) %>
					<li><%=link_to _("Edit this user's information"), edit_user_path(@user), "data-icon" => "x" %></li>
				<% end %>
				<% if user_is_admin?(current_user) && !user_is_admin?(@user) %>
					<li><%=link_to _("Delete this user"), user_path(@user), :method => :delete, :confirm => _("Are you sure?"), "data-icon" => "-" %></li>
				<% end %>
				<li><%=link_to _("Return to the listing"), users_url, "data-icon" => "<" %></li>
			</ul>
		</div>
	</div>
</div>
