<h1><%=@user.fullname%></h1>
<fieldset>
  <legend><%=_("Personal information")%></legend>
	<p>
		<label><%=_('First name')%>:</label> <%= @user.firstname %>
	</p>
	<p>
		<label><%=_('Last name')%>:</label> <%= @user.lastname %>
	</p>
</fieldset>
<fieldset>
<legend><%=_("Account information")%></legend>
<p>
	<label><%=_('Email')%>:</label> <%= @user.email%>
</p>
<p>
	<label><%=_('Last seen')%>:</label> <% if @user.last_login_at %><%= l @user.last_login_at, :format => :long %> ( <%= time_ago_in_words(@user.last_login_at)%> <%=_('ago')%>)<% else %><%=_('never')%><% end %>
</p>
<p>
	<label><%=_('Number of signins')%>:</label> <% if @user.login_count.to_i > 1 %><%= @user.login_count %><% else %><%=_("none")%><% end %>
</p>
</fieldset>

<p>
		<%=link_to _("Edit"), edit_user_path(@user), :class => "g-button" %>
	<% unless user_is_admin?(@user) %>
		<%=link_to _("Delete"), user_path(@user), :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %>
	<% end %>
</p>
