<div id="pad-wrapper" class="user-profile">
    <!-- header -->
    <div class="row header">
        <div class="col-md-8">
            <img src="<%= avatar_url(@user.email,'100x100')%>" alt="contact" class="avatar img-circle" data-toggle="tooltip" title="<%= t :gravatar_tooltip %>" data-placement="bottom" />
            <h3 class="name"><%= @user.fullname %></h3>
            <span class="area">
            	<% if !@user.last_login_at.nil? %>
            		<%= t :last_login_at_with_date, date:(time_ago_in_words @user.last_login_at) %>
            	<% else %>
            		<%= t :never_logged_in %>
            	<% end %>
            </span>
        </div>

    	<div class="pull-right doctor-status">
			<% if user_is_admin?(@user) %>
				<%= label_tag @user.roles %>
			<% end %>
		</div>

    </div>

    <div class="row profile">
        <div class="col-md-12 bio">
            <div class="profile-box">

              <h6><%= t "email_notifications.title" %></h6>

              <% if @user.subscribed_to_digest %>
                <p style="word-wrap: break-word;"><%= raw (t "email_notifications.unsubscribe_message", name: t("email_notifications.daily_digest"), url: url_for(:users_unsubscribe)).html_safe %></p>
              <% else %>
                <p style="word-wrap: break-word;"><%= raw (t "email_notifications.subscribe_message", name: t("email_notifications.daily_digest"), url: url_for(:users_unsubscribe)).html_safe %></p>
              <% end %>

            </div>
        </div>
    </div>
</div>
