<div class="mb-3">
  <header class="navbar navbar-expand-md navbar-light d-print-none">
    <div class="container-xl">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
        <a href="." class="ms-2">
          <%= link_to (image_tag "logofull.png", :title => t(:home), :height => 32), root_path, :class => "navbar-brand-image" %>
        </a>
      </h1>
      <div class="navbar-nav flex-row order-md-last">
        <div class="nav-item dropdown">
          <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
            <span class="avatar avatar-sm" style="background-image: url(<%= avatar_url(current_user.email) %>)"></span>
            <div class="d-none d-xl-block ps-2">
              <div><%= current_user.fullname %></div>
              <div class="mt-1 small text-muted"><%= current_user.roles %></div>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <%= link_to t(:profile), current_user, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to t(:signout), logout_url, class: "dropdown-item" %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu">
      <div class="navbar navbar-light">
        <div class="container-xl">
          <ul class="navbar-nav">
            <%# Datebooks %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#navbar-third" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/calendar -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <rect x="4" y="5" width="16" height="16" rx="2"></rect> <line x1="16" y1="3" x2="16" y2="7"></line> <line x1="8" y1="3" x2="8" y2="7"></line> <line x1="4" y1="11" x2="20" y2="11"></line> <line x1="11" y1="15" x2="12" y2="15"></line> <line x1="12" y1="15" x2="12" y2="18"></line></svg>                </span>
                <span class="nav-link-title">
                  <%= t(:datebooks) %>
                </span>
              </a>
              <div class="dropdown-menu">
                <% @datebooks.each do |datebook| %>
                  <%= link_to datebook, class: "dropdown-item" do %>
                    <%= datebook.name %>
                    <% if is_current_datebook?(datebook.id) %>
                      <span class="badge bg-blue ms-auto"></span>
                    <% end %>
                  <% end %>
                <% end %> 
                <% if user_is_admin? %>
                  <div class="dropdown-divider"></div>
                  <%= link_to t(:create_new_datebook), new_datebook_url, class: "dropdown-item" %>
                <% end %>
              </div>
            </li>

            <%# Patients %>
            <li class="nav-item">
              <%= link_to patients_url, class: "nav-link" do %>
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from https://tabler-icons.io/i/users -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <circle cx="9" cy="7" r="4"></circle> <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path> <path d="M16 3.13a4 4 0 0 1 0 7.75"></path> <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg>
                </span>
                <span class="nav-link-title">
                  <%= t(:patients) %>
                </span>
              <% end %>
            </li>

            <%# Doctors %>
            <li class="nav-item">
              <%= link_to doctors_url, class: "nav-link" do %>
                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <circle cx="12" cy="7" r="4"></circle> <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path></svg>
                </span>
                <span class="nav-link-title">
                  <%= t(:doctors) %>
                </span>
              <% end %>
            </li>

            <%# Practice / Dashboard %>
            <% if user_is_admin? %>
              <li class="nav-item">
                <%= link_to practice_url, class: "nav-link" do %>
                  <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-dashboard" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <circle cx="12" cy="13" r="2"></circle> <line x1="13.45" y1="11.55" x2="15.5" y2="9.5"></line> <path d="M6.4 20a9 9 0 1 1 11.2 0z"></path></svg>
                  </span>
                  <span class="nav-link-title">
                    <%= t(:my_practice) %>
                  </span>
                <% end %>
              </li>
            <% end %>

          </ul>
          <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
            <%= form_tag patients_url, :method => :get do %>
              <div class="input-icon">
                <span class="input-icon-addon">
                  <!-- Download SVG icon from http://tabler-icons.io/i/search -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                </span>
                  <input type="search" class="form-control" placeholder="" name="q" value="<%= params[:q]%>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

=begin
hgj
<ul class="dropdown-menu">
    <li class="dropdown-header"><%= t(:manage) %></li>
    <% if user_is_admin? %>
        <li><%= link_to t(:datebooks), datebooks_url %></li>
    <% end %>
    <li><%= link_to t(:doctors), doctors_url %></li>
    <li><%= link_to t(:treatments), treatments_url %></li>                        
    <% if user_is_admin? %>
        <li><%= link_to t(:users), users_url %></li>
        <li><%= link_to t(:my_practice), practice_url %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to t(:profile), current_user %></li>
    <li class="divider"></li>
    <li><%= link_to t(:signout), logout_url %></li>
</ul>
dsf
=end