<%= form_tag(patient_balances_path, :method => "post", :remote => true, :id => "entry-form") do %>
	<div class="mb-3">
			<label for="balance_amount" class="form-label required"> <%= t :amount %></label>
	    <%= number_field_tag "balance[amount]", nil, { :class => "form-control" } %>
      <%= content_tag "small", t(:balance_discount_hint), class: "text-muted" %>
	</div>

	<div class="mb-3">
		<label for="balance_notes" class="form-label"> <%=t :additional_notes %></label>
	  <%= text_area_tag "balance[notes]", nil, { :rows => 2, :maxlength => 160, :class => "form-control" }  %>
	</div>

	<%= submit_tag(t(:save), :class => "btn btn-primary ms-auto", data: { disable_with: t(:please_wait) }) %>
<% end %>
