<div id="pad-wrapper" class="new-user">
		<div class="row form-wrapper">
				<div class="col-md-8 with-sidebar">

					<!-- Balance table -->
					<table id="patient_balance" class="table table-hover">
						<thead>
							<tr>
								<th width="col-md-6"><%=t :notes %></th>
								<th width="col-md-3"><span class="line"></span> <%=t :expense %></th>
								<th width="col-md-3"><span class="line"></span> <%=t :income %></th>
							</tr>
						</thead>
						<tbody>
							<% @balances.each do |balance| %>
								<%= render :partial => "show", :locals => {:balance => balance}%>
							<% end %>
						</tbody>
						<tfoot>
							<tr>
								<td></td>
								<td></td>
								<td><h5><%=link_to number_to_currency_with_symbol(@total), patient_balances_path(:format => :csv), :title => t(:download_as_csv_file) %></h5></td>
							</tr>
						</tfoot>
					</table>

					<!-- Entry form -->
					<%= render "new" %>

				</div>

				<div class="col-md-4 hidden-xs form-sidebar">
					<h6><%= t :treatments %></h6>
					<ul>
					<% @treatments.each do |treatment| %>
						<li><small><a class="quick-entry" href="#" data-price="<%=treatment.price%>"><%= treatment.name %></a></small></li>
					<% end %>
				</ul>
				</div>
		</div>
</div>

<script>
$(document).ready(function() {
	$("a.quick-entry" ).click(function() {
		var element = $(this);
		$('[type=number]').val(element.data('price')*-1);
		$('textarea').val(element.text());
		document.getElementById("entry-form").scrollIntoView(false);
		return false;
	});

});
</script>
