<table class="ui-tabs ui-widget ui-widget-content ui-corner-all balance">
	<thead>
		<tr>
			<th><%=_("Notes")%></th>
			<th><%=_("Expenses")%></th>
			<th><%=_("Income")%></th>			
		</tr>
	</thead>
	<tbody>
	<% @balance.each do |balance| %>
		<tr>
			<td><%=balance.created_at %> - <%=balance.notes %></td>			
			<td align="center"><% if (balance.amount < 0)%> <%=balance.amount %> <% end %></td>
			<td align="center"><% if (balance.amount > 0)%> <%=balance.amount %> <% end %></td>
		</tr>
	<% end %>
	</tbody>
	<tfoot>
		<td></td>
		<td></td>
		<td align="center"><!-- <cfoutput><big>#LSCurrencyFormat(total)#</big></cfoutput> --></td>
	</tfoot>
</table>

<% form_tag(patient_balances_path, :method => "post", :remote => true) do %>
	<p>
	    <%= number_field_tag "balance[amount]", nil, {:placeholder => _("Amount"), :title => _("Amount") } %>
	</p>
	<p>
	    <%= text_area_tag "balance[notes]", nil, {:rows => 2, :placeholder => _("Optional notes"), :title => _("Optional notes")}  %>
	</p>
	<%= submit_tag(_("Save"), :class => "g-button") %>
<% end %>


<script type="text/javascript">
	$(document).ready(function() {
		// Limit the notes
		$('#balance_notes').limit('255');
		// tipTip all form fields
		$('input,textarea').tipTip();
	});
</script>