<table class="ui-tabs ui-widget ui-widget-content ui-corner-all balance">
	<thead>
		<tr>
			<th><%=_("Notes")%></th>
			<th><%=_("Expenses")%></th>
			<th><%=_("Income")%></th>			
		</tr>
	</thead>
	<tbody>
	<% @balances.each do |balance| %>
		<%= render :partial => "show", :locals => {:balance => balance}%>
	<% end %>
	</tbody>
	<tfoot>
		<td></td>
		<td></td>
		<td align="center"><!-- <cfoutput><big>#LSCurrencyFormat(total)#</big></cfoutput> --></td>
	</tfoot>
</table>

<%= render "new" %>


<script type="text/javascript">
	$(document).ready(function() {
		// Limit the notes
		$('#balance_notes').limit('255');
		// tipTip all form fields
		$('input,textarea').tipTip();
	});
</script>