<%= stylesheet_link_tag "fullcalendar" %>
<%= javascript_include_tag "jquery.fullcalendar.min" %>

<h1><%=_('Datebook')%></h1>

<script type="text/javascript">

	$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		// Init the dialog options
		var dialogOpts = {
				        modal: true,
				        autoOpen: false,
				        width: 490,
				        height: 320,
						close: function(event, ui) { 
							$(this).html("<%=_('Please wait...')%>"); 
						}
			        };
				
		$("#modal_dialog").dialog(dialogOpts); // end dialog
		
		$("#calendar").fullCalendar({
			defaultView: "agendaWeek",
			minTime: 8,
			maxTime: 21,
			height: 620,
			header: {
				left: "prev,next today",
				center: "title",
				right: "month,agendaWeek,agendaDay"
			},
			monthNames: ['<%=_("January")%>', '<%=_("February")%>', '<%=_("March")%>', '<%=_("April")%>', '<%=_("May")%>', '<%=_("June")%>', '<%=_("July")%>', '<%=_("August")%>', '<%=_("September")%>', '<%=_("October")%>', '<%=_("November")%>', '<%=_("December")%>'],
			monthNamesShort: ['<%=_("Jan")%>', '<%=_("Feb")%>', '<%=_("Mar")%>', '<%=_("Apr")%>', '<%=_("May")%>', '<%=_("Jun")%>', '<%=_("Jul")%>', '<%=_("Aug")%>', '<%=_("Sep")%>', '<%=_("Oct")%>', '<%=_("Nov")%>', '<%=_("Dec")%>'],
			dayNames: ['<%=_("Sunday")%>', '<%=_("Monday")%>', '<%=_("Tuesday")%>', '<%=_("Wednesday")%>', '<%=_("Thursday")%>', '<%=_("Friday")%>', '<%=_("Saturday")%>'],
			dayNamesShort: ['<%=_("Sun")%>', '<%=_("Mon")%>', '<%=_("Tue")%>', '<%=_("Wed")%>', '<%=_("Thu")%>', '<%=_("Fri")%>', '<%=_("Sat")%>'],
			buttonText: {
			    prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
			    next:     '&nbsp;&#9658;&nbsp;',  // right triangle
			    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
			    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
			    today:    '<%=_("today")%>',
			    month:    '<%=_("month")%>',
			    week:     '<%=_("week")%>',
			    day:      '<%=_("day")%>'
			},
			editable: true,
			events: "/appointments",
			allDaySlot: false,
			allDayDefault: false,
			dayClick: function(dayDate, allDay, jsEvent, view){
				if (view.name != "month"){		
					var url = "/appointments/new";
					var dayDate = Math.round((dayDate).getTime() / 1000);
					
					$.get(url, {"starts_at": dayDate}, function(data) {
					  $("#modal_dialog").html(data).dialog("open");
					});
				} else {
					$("#calendar").fullCalendar('changeView', 'agendaDay');
					$("#calendar").fullCalendar('gotoDate', dayDate);
				}
			},
			eventClick: function(calEvent, jsEvent, view) {
				var url = "/appointments/" + calEvent.id + "/edit?patient_id=" + calEvent.patient_id;
				
				$.get(url, function(data) {
				  $("#modal_dialog").html(data).dialog("open");
				});
			},
			eventDrop: function(calEvent, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view) {
				// update the event with the new data
				$.ajax({ 
				    type: "PUT", 
				    url: "/appointments/" + calEvent.id,
				    data: { "appointment[starts_at]": JSON.stringify(calEvent.start), 
							"appointment[ends_at]": JSON.stringify(calEvent.end), 
							type: "drop"
						  }
				});
			},
			eventResize: function(calEvent, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {
				// update the event with the new data
				$.ajax({ 
				    type: "PUT", 
				    url: "/appointments/" + calEvent.id,
				    data: { "appointment[starts_at]": JSON.stringify(calEvent.start), 
							"appointment[ends_at]": JSON.stringify(calEvent.end), 
							type: "resize"
						  }
				});
			},
			eventRender: function(event, element) {
				// Append the name of the patient    
				element.find('.fc-event-time').append(" " + event.patient);
		    }
			
		});	
	});	
</script>

<div id="calendar"></div>
<div id="modal_dialog" class="hidden"><%=_('Please wait...')%></div>