<%= form_for(@patient) do |f| %>

  <% if @patient.errors.any? %>
    <div class="error">
      <% @patient.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

	<fieldset>
	  <legend>Personal information</legend>

	  <p>
	    <%= f.text_field :firstname, :placeholder => "First name", :title => "First name"  %>
	  </p>
	  <p>
	    <%= f.text_field :lastname, :placeholder => "Last name", :title => "Last name" %>
	  </p>
	  <p>
	    <%= f.label "Date of birth"%> <%= f.date_select :date_of_birth, :start_year => Time.now.year - 80, :end_year => Time.now.year - 3, :title => "Date of birth" %>
	  </p>
	  <p>
	    <%= f.text_field :uid, :placeholder => "Unique identifier", :title => "Unique identifier" %>
		<sub>(Only if your wish for your clinic to have a custom identification system)</sub>
	  </p>
	</fieldset>

	<fieldset>
	  <legend>Contact information</legend>
	  <p>
	    <%= f.text_field :email, :placeholder => "Email", :title => "Email" %>
	  </p>
	  <p>
	    <%= f.text_field :telephone, :placeholder => "Telephone", :title => "Telephone" %>
	  </p>
	  <p>
	    <%= f.text_field :mobile, :placeholder => "Mobile", :title => "Mobile" %>
	  </p>
	  <p>
	    <%= f.text_field :emergency_telephone, :placeholder => "Emergency Telephone", :title => "Emergency Telephone" %>
	  </p>
	  <p>
	    <%= f.text_area :address, :maxlength => 100, :rows => 2, :placeholder => "Address", :title => "Address" %>
	  </p>
	</fieldset>
	<fieldset>
	  <legend>Medical history</legend>
	  <p>
	    <%= f.text_area :allergies, :rows => 2, :placeholder => "Allergies", :title => "Allergies" %>
	  </p>
	  <p>
	    <%= f.text_area :past_illnesses, :rows => 2, :placeholder => "Past illnesses", :title => "Past illnesses" %>
	  </p>
	  <p>
	    <%= f.text_area :surgeries, :rows => 2, :placeholder => "Past Surgeries", :title => "Past Surgeries" %>
	  </p>
	  <p>
	    <%= f.text_area :medications, :rows => 4, :placeholder => "Current medications", :title => "Current medications" %>
	  </p>
	  <p>
	    <%= f.text_field :cigarettes_per_day, :placeholder => "Cigarettes per day", :title => "Cigarettes per day" %>
	  </p>
	  <p>
	    <%= f.text_field :drinks_per_day, :placeholder => "Drinks per day", :title => "Drinks per day" %>
	  </p>
	  <p>
	    <%= f.text_area :drugs_use, :rows => 2, :placeholder => "Illicit drug use (include type, amount and administration methods", :title => "Illicit drug use (include type, amount and administration methods" %>
	  </p>
	  <p>
	    <%= f.text_area :family_diseases, :rows => 4, :placeholder => "Family diseases including deaths and allergies", :title => "Family diseases including deaths and allergies" %>
	  </p>
	</fieldset>
	

  <%= f.submit("Save", :class => "g-button") %> or <%= link_to "Cancel", patients_path%>

<% end %>
