<%= form_for(@patient) do |f| %>

  	<%= render "shared/error_messages", :target => @patient%>

	<fieldset>
	  <legend><%=_("Personal information")%></legend>

	  <p>
	  	<%= f.label :firstname %>
	    <%= f.text_field :firstname, :title => _("First name"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :lastname %>
	    <%= f.text_field :lastname, :title => _("Last name"), :class => "input-text" %>
	  </p>
	  <p>
	    <%= f.label :date_of_birth %> 
	    <%= f.date_select :date_of_birth, :start_year => Time.now.year - 80, :end_year => Time.now.year - 3, :title => _("Date of birth") %>
	  </p>
	  <p>
	  	<%= f.label :uid %>
	    <%= f.text_field :uid, :title => _("Unique identifier"), :class => "input-text" %>
		<sub><%=_('(Only if your wish for your practice to have a custom identification system for patients)')%></sub>
	  </p>
	</fieldset>

	<fieldset>
	  <legend><%=_("Contact information")%></legend>
	  <p>
	  	<%= f.label :email %>
	    <%= f.email_field :email, :title => _("Email"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :telephone %>
	    <%= f.telephone_field :telephone, :title => _("Telephone"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :mobile %>
	    <%= f.telephone_field :mobile, :title => _("Mobile"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :emergency_telephone %>
	    <%= f.telephone_field :emergency_telephone, :title => _("Emergency telephone"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :address %>
	    <%= f.text_area :address, :maxlength => 100, :rows => 2, :title => _("Address") %>
	  </p>
	</fieldset>
	
	<fieldset>
	  <legend><%=_("Medical history")%></legend>
	  <p>
	  	<%= f.label :allergies %>
	    <%= f.text_area :allergies, :rows => 2, :title => _("Allergies") %>
	  </p>
	  <p>
	  	<%= f.label :past_illnesses %>
	    <%= f.text_area :past_illnesses, :rows => 2, :title => _("Past illnesses") %>
	  </p>
	  <p>
	  	<%= f.label :surgeries %>
	    <%= f.text_area :surgeries, :rows => 2, :title => _("Past Surgeries") %>
	  </p>
	  <p>
	  	<%= f.label :medications %>
	    <%= f.text_area :medications, :rows => 4, :title => _("Current medications") %>
	  </p>
	  <p>
	  	<%= f.label :cigarettes_per_day %>
	    <%= f.number_field :cigarettes_per_day, :title => _("Cigarettes per day"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :drinks_per_day %>
	    <%= f.number_field :drinks_per_day, :title => _("Drinks per day"), :class => "input-text" %>
	  </p>
	  <p>
	  	<%= f.label :drugs_use %>
	    <%= f.text_area :drugs_use, :rows => 2, :title => _("Illicit drugs use (include type, amount and administration methods)") %>
	    <sub><%= _("Illicit drugs use (include type, amount and administration methods)") %></sub>
	  </p>
	  <p>
	  	<%= f.label :family_diseases %>
	    <%= f.text_area :family_diseases, :rows => 4, :title => _("Family diseases including deaths and allergies") %>
	    <sub><%= _("Family diseases including deaths and allergies") %></sub>
	  </p>
	</fieldset>
	
	<%= f.submit(_("Save"), :class => "button nice white", :disable_with => _("Please wait...")) %>
<% end %>
