<%= form_for(@patient) do |f| %>

  <% if @patient.errors.any? %>
    <div class="error">
      <% @patient.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

	<fieldset>
	  <legend><%=_("Personal information")%></legend>

	  <p>
	    <%= f.text_field :firstname, :placeholder => _("First name"), :title => _("First name")  %>
	  </p>
	  <p>
	    <%= f.text_field :lastname, :placeholder => _("Last name"), :title => _("Last name") %>
	  </p>
	  <p>
	    <%= f.label _("Date of birth")%> <%= f.date_select :date_of_birth, :start_year => Time.now.year - 80, :end_year => Time.now.year - 3, :title => _("Date of birth") %>
	  </p>
	  <p>
	    <%= f.text_field :uid, :placeholder => _("Unique identifier"), :title => _("Unique identifier") %>
		<sub><%=_('(Only if your wish for your practice to have a custom identification system for patients)')%></sub>
	  </p>
	</fieldset>

	<fieldset>
	  <legend><%=_("Contact information")%></legend>
	  <p>
	    <%= f.email_field :email, :placeholder => _("Email"), :title => _("Email") %>
	  </p>
	  <p>
	    <%= f.telephone_field :telephone, :placeholder => _("Telephone"), :title => _("Telephone") %>
	  </p>
	  <p>
	    <%= f.telephone_field :mobile, :placeholder => _("Mobile"), :title => _("Mobile") %>
	  </p>
	  <p>
	    <%= f.telephone_field :emergency_telephone, :placeholder => _("Emergency telephone"), :title => _("Emergency telephone") %>
	  </p>
	  <p>
	    <%= f.text_area :address, :maxlength => 100, :rows => 2, :placeholder => _("Address"), :title => _("Address") %>
	  </p>
	</fieldset>
	<fieldset>
	  <legend><%=_("Medical history")%></legend>
	  <p>
	    <%= f.text_area :allergies, :rows => 2, :placeholder => _("Allergies"), :title => _("Allergies") %>
	  </p>
	  <p>
	    <%= f.text_area :past_illnesses, :rows => 2, :placeholder => _("Past illnesses"), :title => _("Past illnesses") %>
	  </p>
	  <p>
	    <%= f.text_area :surgeries, :rows => 2, :placeholder => _("Past Surgeries"), :title => _("Past Surgeries") %>
	  </p>
	  <p>
	    <%= f.text_area :medications, :rows => 4, :placeholder => _("Current medications"), :title => _("Current medications") %>
	  </p>
	  <p>
	    <%= f.number_field :cigarettes_per_day, :placeholder => _("Cigarettes per day"), :title => _("Cigarettes per day") %>
	  </p>
	  <p>
	    <%= f.number_field :drinks_per_day, :placeholder => _("Drinks per day"), :title => _("Drinks per day") %>
	  </p>
	  <p>
	    <%= f.text_area :drugs_use, :rows => 2, :placeholder => _("Illicit drugs use (include type, amount and administration methods)"), :title => _("Illicit drugs use (include type, amount and administration methods)") %>
	  </p>
	  <p>
	    <%= f.text_area :family_diseases, :rows => 4, :placeholder => _("Family diseases including deaths and allergies"), :title => _("Family diseases including deaths and allergies") %>
	  </p>
	</fieldset>
	

  <%= f.submit(_("Save"), :class => "g-button", :disable_with => _("Please wait...")) %> <%=_('or')%> <%= link_to _("Cancel"), patients_path%>

<% end %>
