<tr>
  <td data-label="<%= t :name %>">
    <div class="d-flex py-1 align-items-center">
      <%= link_to patient, class: 'p-0 border-0 bg-transparent', style: 'line-height: 0;' do %>
        <%= avatar_for(patient) %>
      <% end %>
      <div class="flex-fill">
        <div class="font-weight-medium"><%= patient.fullname %></div>
        <div class="text-muted"><%= patient.email %></div>
      </div>
    </div>
  </td>
  <td class="text-muted" data-label="<%= t :uid %>">
    <%= patient.uid %>
  </td>
  <td class="text-muted" data-label="<%= t :status %>">
    <% if patient.missing_info? %>
      <%= label_tag t(:incomplete), :red %>
    <% else %>
      <%= label_tag t(:active), :green %>
    <% end %>
  </td>
  <td class="text-muted" data-label="<%= t :last_visit %>">
    <%= patient.last_visit_at.present? ? l(patient.last_visit_at.to_date, format: :short) : t(:never) %>
  </td>
  <td>
    <%= render 'patient_actions', patient: patient %>
  </td>
</tr>
