<tr>
  <td data-label="<%= t :name %>">
    <div class="d-flex py-1 align-items-center">
      <%= link_to today_patient.patient, class: 'p-0 border-0 bg-transparent', style: 'line-height: 0;' do %>
        <%= avatar_for(today_patient.patient) %>
      <% end %>
      <div class="flex-fill">
        <div class="font-weight-medium"><%= today_patient.patient.fullname %></div>
      </div>
    </div>
  </td>
  <td class="text-muted" data-label="<%= t :uid %>">
    <%= today_patient.patient.uid %>
  </td>
  <td class="text-muted" data-label="<%= t :doctor_column %>">
    <%= today_patient.doctor.fullname %>
    <% if @show_datebook %>
      <div class="text-muted small"><%= today_patient.datebook.name %></div>
    <% end %>
  </td>
  <td data-label="<%= t :appointment_time_column %>">
    <span class="fw-medium"><%= appointment_time_with_duration(today_patient.starts_at, today_patient.ends_at) %></span>
  </td>
  <td data-label="<%= t :status %>">
    <%= appointment_status_badge(today_patient.status) %>
  </td>
  <td>
    <%= render 'patient_actions', patient: today_patient.patient %>
  </td>
</tr>
