<ul id="list-items">
	<% @appointments.each do |appointment| %>
		<% if appointment.ends_at < Time.now
			cclass = "disabled-list"
		   else
			cclass = ""
		   end
		%>
	
		<li class="<%=cclass%>">
			<h2><%=l appointment.starts_at, :format => :long %> <span><%= _("with") %> <%= appointment.doctor.fullname %></h2>			
			<span></span>
			<% if appointment.notes.length > 0%><span><%=appointment.notes%></span><% end %>
		</li>
	<% end %>
</ul>

