<ul id="list-items">
	<% @appointments.each do |appointment| %>
		<% if appointment.ends_at === Time.now
			cclass = "disabled-list"
		   else
			cclass = ""
		   end
		%>
	
		<li class="<%=cclass%>">
			<h2>(<%=appointment.status%>) <%=appointment.starts_at %> <span><%= _("with") %> <%= appointment.doctor.fullname %></h2>			
			<span></span>
			<% if appointment.notes.length > 0%><span><%=notes%></span><% end %>
		</li>
	<% end %>
</ul>

