<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        <%= t :edit %>
      </div>
      <h2 class="page-title">
        <%= @patient.fullname %>
      </h2>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row row-cards">
    <div class="col-md-8">
      <%= render 'form' %>
    </div>

    <div class="col-md-4">
      <div class="px-4">
        <h3 class="card-title"><%= t :for_your_information %></h3>
        <%= raw t "instructions.patients".html_safe %>
      </div>
    </div>
  </div>
</div>