<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        <%= t :patients %>
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <%= link_to new_patient_url, class: "btn btn-primary d-sm-inline-block" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg><!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <%= t(:create_new_patient) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="card">
    <% if @patients.empty? %>
      <div class="card-body">
        <%= t :no_patients %>
      </div>
    <% else %>
      <table class="table table-vcenter table-mobile-md card-table">
        <thead>
          <tr>
            <th><%= t :name %></th>
            <th><%= t :uid %></th>
            <th>
              <%= t :status %>
              <%= help_tag t 'help.patients.status' %>
            </th>
            <th><%= t :updated_at %></th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td data-label="<%= t :name %>">
                <div class="d-flex py-1 align-items-center">
                  <span class="avatar me-2 rounded-circle"><%= patient.initials %></span>
                  <div class="flex-fill">
                    <div class="font-weight-medium"><%= patient.fullname %></div>
                    <div class="text-muted"><%= patient.email %></div>
                  </div>
                </div>
              </td>
              <td class="text-muted" data-label="<%= t :uid %>">
                <%= patient.uid %>
              </td>
              <td class="text-muted" data-label="<%= t :status %>">
                <% if patient.missing_info? %>
                  <%= label_tag t(:incomplete), :red %>
                <% else %>
                  <%= label_tag t(:active), :green %>
                <% end %>
              </td>
              <td class="text-muted" data-label="<%= t :updated_at %>">
                <%= time_ago_in_words patient.updated_at %>
              </td>
              <td>
                <div class="btn-list flex-nowrap">
                  <%= component :dropdown do %>
                    <%= link_to t(:profile), patient, class: "dropdown-item" %>
                    <%= link_to t(:edit), edit_patient_path(patient), class: "dropdown-item" %>
                    <% if user_is_admin?(current_user) %>
                      <%= link_to t(:delete), patient, method: :delete, data: { confirm: t(:are_you_sure_no_undo) }, class: "dropdown-item text-red" %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<% if params[:term].nil? and params[:segment].nil? %>
  <ul class="pagination">
    <li class="page-item <%= params[:letter] == '#' ? 'active' : '' %>">
      <%= link_to "#", patients_url(letter: "#"), class: "page-link" %>
    </li> 
    <% letter_options.each do |letter| %>
      <li class="page-item <%= params[:letter] == letter[:value] ? 'active' : '' %> <%= letter[:included?] ? '' : 'disabled' %>">
        <%= link_to letter[:value], patients_url(letter: letter[:value]), class: "page-link" %>
      </li>      
    <% end %>
  </ul>

<% else %>
  <span class="text-muted">
    <% if @patients.size == 0 %>
      <%= t :patient_search_results_zero, :patients_count => @patients.size %>
    <% elsif @patients.size == 1 %>
      <%= t :patient_search_results_one %>
    <% elsif @patients.size <= 20 %>
      <%= t :patient_search_results_few, :patients_count => @patients.size %>
    <% else %>
      <%= t :patient_search_results_many, :patients_count => @patients.size %>
    <% end %>
  </span>
<% end %>