<div class="row">	

	<div class="eight columns">
	
		<% if @patients.empty? %>
			<div class="alert-box warning">
				<%=_("Your practice doesn't have any patients at the moment, let's change that.")%>
				<a href="" class="close">&times;</a>
			</div>
		<% end %>
	
		<h1><%=_('Patients')%> <span class="label radius <%= @patients_left_in_plan <= 10 ? 'red' : 'green' %>">(<%= @patients_left_in_plan %> <%=_('left')%>)</span></h1>
		
		<ul id="list-items">
			<% @patients.each do |patient| %>
				
				<li>
					<h2>
						<%= link_to patient.fullname, patient %>
						<%= if patient.missing_info? 
							incomplete_tag
						end %>
					</h2>			
				
					<% if !patient.missing_info? %>
						<span data-icon="a"><strong><%= _("Chart number")%></strong> <%=patient.uid%></span>
						<span><strong><%=_('Age')%>:</strong> <%=patient.age%></span>
						<span><strong><%=_('Allergies')%>:</strong> <%unless patient.allergies.blank?%><%=patient.allergies%><%else%><%=_('none')%><%end%></span>
					<% else %>
						<span data-icon="!"><%=_("Complete this patient information to continue")%></span>
						<% if user_is_admin?(current_user) %>
							<% _("or just") %> <%= link_to _("delete this patient"), patient, :method => :delete, :confirm => _("Are you sure? All data associated with this patient will be lost forever.") %>
						<% end %>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
		
	<div class="four columns">
		<div class="panel">
			<p class="hide-on-phones"><%= _("This is the address book of your practice, in here you will find all of your precious clients. Remember to keep an eye on that quota there, it's very important.") %></p>
			
			<hr />
			
			<input type="text" id="patient_search" name="patient_search" class="input-text" /> <br />
						
			<script>
				$(function(){			
					 // Patient search box 
					 $("#patient_search").autoSuggest("/patients.json", {startText: "<%=_('Search patients')%>", minChars: 2, selectionLimit: 1, selectedValuesProp: "id", selectedItemProp: "fullname", searchObjProps: "uid,fullname", resultClick: function(data){ window.location.href = "/patients/" + data.attributes.id; }});
				});
			</script>
			
			<ul>
				<li><%= link_to _("Create new patient"), new_patient_url, "data-icon" => "+" %></li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<ul class ="pagination">
	  <% letter_options.each do |letter| %>
	    <% if params[:letter] == letter %>
	    	<li class="current"><%= link_to letter, patients_url(:letter => letter)%></li>
	    <% else %>
	      <li><%= link_to letter, patients_url(:letter => letter)%></li>
	    <% end %>
	  <% end %>
	</ul>
</div>