<div id="pad-wrapper" class="table-wrapper users-list">

	<div class="row header col-md-12">
        <h3><%= t :patients %></h3>

        <div class="pull-right-lg">            
            <%= link_to t(:create_new_patient), new_patient_url, "class" => "btn-flat primary pull-right" %>
        </div>
    </div>

	<div class="row">
	    <div class="col-md-12">
	        <table class="table table-hover">
	            <thead>
	                <tr>
	                    <th class="col-md-4">
	                        <%= t :name %>
	                    </th>
	                    <th class="col-md-2">
	                        <span class="line"></span> <%= t :updated_at %>
	                    </th>
	                    <th class="col-md-3 align-right hidden-xs hidden-sm">
	                        <span class="line"></span> <%= t :email %>
	                    </th>
	                </tr>
	            </thead>
	            <tbody>
	            
		            <% @patients.each do |patient| %>
			            <tr class="<% if patient.id == @patients.first.id %>first<% end %>">	
			            	<td>
			                    <img src="<%= avatar_url(patient.email)%>" alt="contact" class="img-circle avatar hidden-phone" />
			                    <%= link_to patient.fullname, patient, :class => "name" %>
			                    <span class="subtext">
									<%= patient.uid %>
			                    </span>
			                </td>

			                <% if !patient.missing_info? %>	 
				                <td>
				                    <%= patient.updated_at.to_formatted_s :long %>
				                </td>
				                <td class="align-right hidden-xs hidden-sm">
				                    <%= mail_to patient.email %>
				                </td>
				            <% else %>
				            	<td colspan="2">
				            		<% if user_is_admin?(current_user) %>
							  			<%= raw t :patient_without_required_info, delete_url: (link_to (t(:delete_patient)).downcase, patient, :method => :delete, data: { confirm: t(:are_you_sure_no_undo) }) %>
									<% else %>
										<%= t :patient_without_required_info, delete_url: t(:delete_patient).downcase  %>
									<% end %>
								</td>
							<% end %>
			            </tr>
			        <% end %>

			    </tbody>
			</table>

			<% if params[:q].nil? %>
				<ul class ="pagination pull-right">
				  <% letter_options.each do |letter| %>
				    <% if params[:letter] == letter %>
				    	<li class="active"><%= link_to letter, patients_url(:letter => letter)%></li>
				    <% else %>
				      <li><%= link_to letter, patients_url(:letter => letter)%></li>
				    <% end %>
				  <% end %>
				</ul>
			<% else %>
				<span class="pull-right">
					<% if @patients.size == 0 %>
						<%= t :patient_search_results_zero, :patients_count => @patients.size %>
					<% elsif @patients.size == 1 %>
						<%= t :patient_search_results_one %>
					<% elsif @patients.size <= 20 %>
						<%= t :patient_search_results_few, :patients_count => @patients.size %>
					<% else %>
						<%= t :patient_search_results_many, :patients_count => @patients.size %>
					<% end %>
				</span>
			<% end %>
		</div>
	</div>
</div>

