<h1><%=_('Patients')%> <%= link_to "+", new_patient_url, :class => "g-button" %></h1>


<ul id="list-items">
	<% @patients.each do |patient| %>
	
		<% if patient.invalid?
			cclass = "invalid-list"
		   else
			cclass = ""
		   end
		%>
	
		<li class="<%=cclass%>">
			<h2><%= link_to patient.fullname, patient %></h2>			
			<span><%=patient.uid%></span>
			<span><strong><%=_('Age')%>:</strong> <%=patient.age%></span>
			<span><strong><%=_('Allergies')%>:</strong> <%unless patient.allergies.blank?%><%=patient.allergies%><%else%><%=_('none')%><%end%></span>
			<span><strong><%=_('Last visit')%>:</strong> <%#=patient.last_visit_at%>TODO!</span>
			<% if user_is_admin?(current_user) %>
				<div class="list-item-button"><%= link_to _("Delete"), patient, :method => :delete, :confirm => "Are you sure? All data associated with this patient will be lost forever. THERE IS NO GOING BACK!", :class => "g-button red"%></div>
			<% end %>
			<div class="list-item-button"><%= link_to _("Edit"), edit_patient_path(patient), :class => "g-button"%></div>
		</li>
	<% end %>
</ul>

<%= alphabetically_paginate(@patients) %>

<p>
<%= link_to _("Create new patient"), new_patient_url, :class => "g-button" %>
</p>