<div id="tabs">
	
	<ul>
		<li><a id="chart_tab" href="#chart"><%=_("Chart")%></a></li>
		<li><a id="appointments_tab" href="<%=appointments_patient_path(@patient) %>"><span><%=_("Appointments")%></span></a></li>
		<!--<li><a id="treatments_tab" href="<%=patient_patient_treatments_path(@patient) %>"><span><%=_("Treatmeant history")%></span></a></li>-->
		<li><a id="balance_tab" href="<%=patient_balances_path(@patient) %>"><span><%=_("Balance")%></span></a></li>
	</ul>
	
	<div id="chart">
		
		<h1><big><%=@patient.fullname%></big> <%= link_to _("Edit"), edit_patient_path(@patient), :class => "g-button light"%></h1>
		
		<div class="bodycontent">	
			<h2><%=_('Personal information')%></h2>
			
			<% if @patient.uid != "" %>
				<p><label><%=_('Unique identifier')%>:</label> <%=@patient.uid%></p>
			<% end %>
			<p><label><%=_('First name')%>:</label> <%=@patient.firstname%></p>
			<p><label><%=_('Last name')%>:</label> <%=@patient.lastname%></p>
			<p><label><%=_('Age')%>:</label> <%=@patient.age%> (<%=l @patient.date_of_birth, :format => :long %>)</p>
			<p><label><%=_('Email')%>:</label> <%=@patient.email%></p>
			<p><label><%=_('Telephone')%>:</label> <%=@patient.telephone%></p>
			<p><label><%=_('Mobile')%>:</label> <%=@patient.mobile%></p>
			<p><label><%=_('Emergency telephone')%>:</label> <%=@patient.emergency_telephone%></p>
			<p><label><%=_('Address')%>:</label> <%=@patient.address%></p>			
		</div>
		
		<!-- <div class="sidecontent">
			<h2><%=_('Medical history')%></h2>
			
			<% if @patient.allergies != "" %>
				<p class="error_field"><label><%=_('Allergic to')%>:</label> <%=@patient.allergies%></p>
			<% end %>
			<p><label><%=_('Past Illnesses')%>:</label> <%=@patient.past_illnesses%></p>
			<p><label><%=_('Past surgeries')%>:</label> <%=@patient.surgeries%></p>
			<p><label><%=_('Current medications')%>:</label> <%=@patient.medications%></p>
			<p><label><%=_('Cigarettes per day')%>:</label> <%=@patient.cigarettes_per_day%></p>
			<p><label><%=_('Drinks per day')%>:</label> <%=@patient.drinks_per_day%></p>
			<p><label><%=_('Drugs use')%>:</label> <%=@patient.drugs_use%></p>
			<p><label><%=_('Family history')%>:</label> <%=@patient.family_diseases%></p>
		</div> -->
				
		<div class="notes clear">
			<%= render :partial => "notes/index", :locals => {:notes => @patient_notes, :noteable => @patient} %>
		</div>
		
		<%= render :partial => "notes/new", :locals => {:noteable => @patient} %>
	</div>

	<div style="clear:both"></div>
</div>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({
			spinner: "<img src='/images/icons/indicator.gif' />"
		});
	});
</script>
