<div class="row">
	<!-- content -->
	<div class="eight columns">
		<!-- tab content -->
		<ul class="tabs-content">
			<li id="chartTab" class="active">
			
				<h1><%=@patient.fullname%></h1>
			
				<div class="row">	
						<ul class="block-grid two-up">
							<li><span data-icon="b" class="has-tip" title="<%=_('Age')%>" id="age"></span> <span class="has-tip" title="<%=l @patient.date_of_birth, :format => :long %>"><%=@patient.age%> <%= _("years old") %></span></li>
							<li><span data-icon="@" class="has-tip" title="<%=_('Email')%>" id="email"></span> <%= mail_to @patient.email%></li>
							<li><span data-icon="g" class="has-tip" title="<%=_('Telephone')%>" id="phone1"></span> <%=@patient.telephone%></li>
							<li><span data-icon="c" class="has-tip" title="<%=_('Mobile')%>" id="mobile"></span> <%=@patient.mobile%></li>
							<li><span data-icon="d" class="has-tip" title="<%=_('Emergency telephone')%>" id="phone2"></span> <%=@patient.emergency_telephone%></li>
							<li><span data-icon="f" class="has-tip" title="<%=_('Address')%>" id="address"></span> <%=@patient.address%></li>
						</ul>		
				</div>
				<div class="row">
									
					<hr />
					
					<% if @patient.uid != "" %>
						<p><strong><%=_('Chart number')%></strong> <%=@patient.uid%></p>
					<% end %>
					
					<% if @patient.allergies != "" %>
						<p class="error_field"><strong><%=_('Allergic to')%>:</strong> <%=@patient.allergies%></p>
					<% end %>
					<p><strong><%=_('Past Illnesses')%>:</strong> <%=@patient.past_illnesses%></p>
					<p><strong><%=_('Past surgeries')%>:</strong> <%=@patient.surgeries%></p>
					<p><strong><%=_('Current medications')%>:</strong> <%=@patient.medications%></p>
					<p><strong><%=_('Cigarettes per day')%>:</strong> <%=@patient.cigarettes_per_day%></p>
					<p><strong><%=_('Drinks per day')%>:</strong> <%=@patient.drinks_per_day%></p>
					<p><strong><%=_('Drugs use')%>:</strong> <%=@patient.drugs_use%></p>
					<p><strong><%=_('Family history')%>:</strong> <%= simple_format @patient.family_diseases%></p>
				</div>
			
				<div class="row">
					<div class="notes">
						<%= render :partial => "notes/index", :locals => {:notes => @patient_notes, :noteable => @patient} %>
					</div>
					
					<%= render :partial => "notes/new", :locals => {:noteable => @patient} %>
				</div>
			</li>
			<li id="appointmentsTab"></li>
			<li id="balanceTab"></li>
		</ul>
	</div>
	
	<!-- side content -->
	<div class="four columns">
		<!-- tab navigation -->
		<dl class="tabs nice vertical">
			<dd><a href="#chart" class="active" data-icon="a"><%=_("Chart")%></a></dd>
			<dd><a href="#appointments" data-icon="b"><%=_("Appointments")%></a></dd>
			<!--<li><a href="<%=patient_patient_treatments_path(@patient) %>"><span><%=_("Treatmeant history")%></span></a></li>-->
			<dd><a href="#balance" data-icon="p"><%=_("Balance")%></a></dd>
		</dl>
		
		<div class="panel">
			<p><%= _("Need to update something?") %></p>
		
			<ul>
				<li><%= link_to _("Edit patient's information"), edit_patient_path(@patient), "data-icon" => "x" %></li>
				
				<% if user_is_admin?(current_user) %>
					<li><%= link_to _("Delete patient"), @patient, :method => :delete, :confirm => _("Are you sure? All data associated with this patient will be lost forever."), "data-icon" => "-" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#appointmentsTab").load("<%=appointments_patient_path(@patient) %>");
		$("#balanceTab").load("<%=patient_balances_path(@patient) %>");
	
	});
</script>