<div id="tabs">
	
	<ul>
		<li><a href="#chart"><%=_("Chart")%></a></li>
		<li><a href="<%=appointments_patient_path(@patient) %>"><span><%=_("Appointments")%></span></a></li>
		<li><a href="<%=patient_balances_path(@patient) %>"><span><%=_("Balance")%></span></a></li>
	</ul>
	
	<div id="chart">
		
		<div class="bodycontent">	
			<h2><%=_('Personal information')%></h2>
			
			<p><label><%=_('Unique identifier')%>:</label> <%=@patient.uid%></p>
			<p><label><%=_('Name')%>:</label> <%=@patient.fullname%></p>
			<p><label><%=_('Age')%>:</label> <%=@patient.age%></p>
			<p><label><%=_('Date of birth')%>:</label> <%=l @patient.date_of_birth, :format => :long %></p>
			
			<h2><%=_('Contact information')%></h2>
			
			<p><label><%=_('Email')%>:</label> <%=@patient.email%></p>
			<p><label><%=_('Telephone')%>:</label> <%=@patient.telephone%></p>
			<p><label><%=_('Mobile')%>:</label> <%=@patient.mobile%></p>
			<p><label><%=_('Emergency telephone')%>:</label> <%=@patient.emergency_telephone%></p>
			<p><label><%=_('Address')%>:</label> <%=@patient.address%></p>			
		</div>
		
		<div class="sidecontent">
			<div id="patient-portrait">
				<div id="photo-show-container" class="hidden">
					<!-- #includePartial("showPhoto")# -->								
				</div>
				
				<div id="photo-edit-container" class="hidden">
					<!-- #includePartial("takePhoto")# -->
				</div>
			</div>
			
			<!-- TODO: add the balance button for the patient 
				 which only should be shown if he has a negative balance
			<cfif patientTab GT 0>
				<p><button id="balance" class="g-button red"><strong>Balance:</strong> #LSCurrencyFormat(patientTab)#</button></p>
			</cfif>
			
			-->
			
		</div>
		
		<!-- <h2 class="clear"><%=_("Notes")%></h2> -->
		
		<div class="notes clear">
			<%= render :partial => "patient_notes/index", :locals => {:notes => @patient_notes} %>
		</div>
		
		<%= render "patient_notes/new" %>
	</div>

	<div style="clear:both"></div>
</div>

<!-- TODO: moved this to the application.css -->
<style>
/* @group Theme overwrite */
.ui-widget-content { 
	border: 0px !important;
}
/* @end */
</style>

<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({cache: true});
		
		// <cfif patient.photoPath IS "">
		// 			$("#photo-edit-container").toggle();
		// 		<cfelse>
		// 			$("#photo-show-container").toggle();
		// 		</cfif>
		
		// $("#retake-snapshot").click(function() {
		// 			$("#photo-edit-container").toggle();
		// 			$("#photo-show-container").toggle();
		// 		});
		
		// Jump to the balance tab
		// $("#balance").click(function() {
		// 			$("#tabs").tabs( "select" , 3);
		// 		});
	});
</script>
