<div class="row">

	<!-- side content -->
	<div class="four columns push-eight">
		<!-- tab navigation -->
		<dl class="tabs nice vertical">
			<dd><a href="#chart" class="active" data-icon="j"><%=_("Chart")%></a></dd>
			<dd><a href="#appointments" data-icon="b"><%=_("Appointments")%></a></dd>
			<dd><a href="#treatments" data-icon="k"><span><%=_("Treatments")%></span></a></dd>
			<dd><a href="#balance" data-icon="$"><%=_("Balance")%></a></dd>
		</dl>
		
		<div class="panel">
			<p><%= _("Need to update something?") %></p>
		
			<ul>
				<li><%= link_to _("Edit patient's information"), edit_patient_path(@patient), "data-icon" => "x" %></li>
				
				<% if user_is_admin?(current_user) %>
					<li><%= link_to _("Delete patient"), @patient, :method => :delete, :confirm => _("Are you sure? All data associated with this patient will be lost forever."), "data-icon" => "-" %></li>
				<% end %>
			</ul>
		</div>
	</div>
	
	<!-- content -->
	<div class="eight columns pull-four">
		
		<h1>
			<img src="<%= avatar_url(@patient.email) %>" />
		 	<%=@patient.fullname%>
		</h1>
		
		<!-- tab content -->
		<ul class="tabs-content">
			<li id="chartTab" class="active">
			
				<div class="row">	
						<ul class="block-grid two-up">
							<li><span data-icon="b" title="<%=_('Age')%>" id="age"><span class="has-tip" title="<%=l @patient.date_of_birth, :format => :long %>"><%=@patient.age%> <%= _("years old") %></span></span></li>
							<li><span data-icon="@" title="<%=_('Email')%>" id="email"><%= mail_to @patient.email%></span></li>
							<li><span data-icon="g" title="<%=_('Telephone')%>" id="phone1"><%=@patient.telephone%></span></li>
							<li><span data-icon="c" title="<%=_('Mobile')%>" id="mobile"><%=@patient.mobile%></span> </li>
							<li><span data-icon="!" title="<%=_('Emergency telephone')%>" id="phone2"><%=@patient.emergency_telephone%></span></li>
							<li><span data-icon="f" title="<%=_('Address')%>" id="address"><%=@patient.address%></span></li>
						</ul>		
				</div>
				<div class="row">
									
					<hr />
					
					<% if @patient.uid != "" %>
						<p><strong><%=_('Chart number')%></strong> <%=@patient.uid%></p>
					<% end %>
					
					<% if @patient.allergies != "" %>
						<p class="error_field"><strong><%=_('Allergic to')%>:</strong> <%=@patient.allergies%></p>
					<% end %>
					<p><strong><%=_('Past Illnesses')%>:</strong> <%=@patient.past_illnesses%></p>
					<p><strong><%=_('Past surgeries')%>:</strong> <%=@patient.surgeries%></p>
					<p><strong><%=_('Current medications')%>:</strong> <%=@patient.medications%></p>
					<p><strong><%=_('Cigarettes per day')%>:</strong> <%=@patient.cigarettes_per_day%></p>
					<p><strong><%=_('Drinks per day')%>:</strong> <%=@patient.drinks_per_day%></p>
					<p><strong><%=_('Drugs use')%>:</strong> <%=@patient.drugs_use%></p>
					<p><strong><%=_('Family history')%>:</strong> <%= simple_format @patient.family_diseases%></p>
				</div>
			
				<div class="row">
					<div class="notes">
						<%= render :partial => "notes/index", :locals => {:notes => @patient_notes, :noteable => @patient} %>
					</div>
					
					<%= render :partial => "notes/new", :locals => {:noteable => @patient} %>
				</div>
			</li>
			<li id="appointmentsTab"></li>
			<li id="treatmentsTab"></li>
			<li id="balanceTab"></li>
		</ul>
	</div>
	
</div>

<script>
	$(document).ready(function () {		
		$("#appointmentsTab").load("<%=appointments_patient_path(@patient) %>");
		$("#treatmentsTab").load("<%=patient_patient_treatments_path(@patient) %>");
		$("#balanceTab").load("<%=patient_balances_path(@patient) %>");
		
		// Let's refresh the balance every time someone clicks here
		$("a[href=#balance]").click(function(){
			$("#balanceTab").load("<%=patient_balances_path(@patient) %>");
		});
	});
</script>