<div class="page-header mb-4">
  <div class="row g-2 align-items-center">
    <div class="col-auto me-2">
      <span class="avatar rounded-circle avatar-lg"><%= @patient.initials %></span>
    </div>
    <div class="col">
      <h4 class="m-0">
        <h2 class="page-title">
          <%= @patient.fullname %>
        </h2>
      </h4>
      <div class="text-muted">
        <% if @patient.uid.present? %>
          <%= @patient.uid %><br />
        <% end %>
        <span data-toggle="tooltip" title="<%= @patient.date_of_birth.to_formatted_s(:long) %>" data-placement="top"><%= @patient.age%> <%= t(:years_old).downcase %></span>
      </div>
    </div>
    <div class="col-auto">
      <div class="btn-list">
        <%= link_to t(:edit), edit_patient_path(@patient), class: "btn" %>
        <% if user_is_admin?(current_user) %>
          <%= link_to t(:delete), @patient, :method => :delete, data: { confirm: t(:are_you_sure_no_undo) }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>    
</div>

<div class="row row-cards" data-masonry='{"percentPosition": false }'>   
  <% if !@patient.allergies.blank? %>
    <div class="col-sm-6 col-lg-4">
      <div class="card">
        <div class="card-status-top bg-danger"></div>
        
        <div class="card-header">
          <h3 class="card-title">
            <%= t(:allergic_to) %>
          </h3>
          
          <div class="card-actions text-red">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-alert-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"></path> <circle cx="12" cy="12" r="9"></circle> <line x1="12" y1="8" x2="12" y2="12"></line> <line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
          </div>
        </div>

        <div class="card-body">
          <p><%= @patient.allergies %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= t(:contact_information) %>
        </h3>
      </div>
      <div class="card-body">
        <%= value_tag t(:email), @patient.email %>
        <%= value_tag t(:telephone), @patient.telephone %>
        <%= value_tag t(:mobile), @patient.mobile %>
        <%= value_tag t(:emergency_telephone), @patient.emergency_telephone %>
        <%= value_tag t(:address), @patient.address %>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <%= t(:comments) %>
        </h3>
      </div>

      <div class="comment">
        <%= render partial: "notes/index", :locals => {:notes => @patient_notes, :noteable => @patient} %>
      </div>

      <div class="card-body">
        <%= render partial: "notes/new", :locals => {:noteable => @patient} %>
      </div>
    </div>
  </div>

  <%= render 'medical-history-card', title: t(:past_illnesses), value: @patient.past_illnesses %>
  <%= render 'medical-history-card', title: t(:past_surgeries), value: @patient.surgeries %>
  <%= render 'medical-history-card', title: t(:cigarettes_per_day), value: @patient.cigarettes_per_day %>
  <%= render 'medical-history-card', title: t(:drinks_per_day), value: @patient.drinks_per_day %>
  <%= render 'medical-history-card', title: t(:current_medications), value: @patient.medications %>
  <%= render 'medical-history-card', title: t(:drugs_use), value: @patient.drugs_use %>
  <%= render 'medical-history-card', title: t(:family_history), value: @patient.family_diseases %>

  <div class="col-sm-6 col-lg-4">
    <div class="card">
      <div class="card-body mt-2 text-center">
        <div class="h1 text-primary"><%= link_to number_to_currency_with_code(@total_balance), patient_balances_path(@patient) %></div>
        <div class="text-muted mb-3"><%= t :balance %></div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-4">
    <div class="card">
      <% if @appointments.empty? %>
        <%= component :empty, title: t("no_appointments.title"), description: t("no_appointments.description"), image_name: 'calendar.svg' do %>
          <%= link_to t(:schedule), root_url, class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <div class="card-header">
          <h3 class="card-title">
            <%= t(:appointments) %>
          </h3>
        </div>
        <div class="card-body">
          <div class="divide-y">
            <% @appointments.each do |appointment| %>
              <%= render 'appointment', 
                appointment: appointment,
                patient: @patient,
                doctor: appointment.doctor,
                past_tense: appointment.starts_at < Date.today.beginning_of_day
              %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>