<div class="row">

	<!-- side content -->
	<div class="four columns push-eight">
		<!-- tab navigation -->
		<dl class="tabs nice vertical">
			<dd><a href="#chart" class="active" data-icon="j"><%= t :chart %></a></dd>
			<dd><a href="#appointments" data-icon="b"><%= t :appointments %></a></dd>
			<dd><a href="#treatments" data-icon="k"><span><%= t :treatments %></span></a></dd>
			<dd><a href="#balance" data-icon="$"><%= t :balance %></a></dd>
		</dl>
		
		<div class="panel">		
			<ul>
				<li><%= link_to t(:edit_patient), edit_patient_path(@patient), "data-icon" => "x" %></li>
				
				<% if user_is_admin?(current_user) %>
					<li><%= link_to t(:delete_patient), @patient, :method => :delete, :confirm => t(:are_you_sure_no_undo), "data-icon" => "-" %></li>
				<% end %>
			</ul>
		</div>
	</div>
	
	<!-- content -->
	<div class="eight columns pull-four">
		
		<h1>
			<img src="<%= avatar_url(@patient.email) %>" />
		 	<%=@patient.fullname%>
		</h1>
		
		<!-- tab content -->
		<ul class="tabs-content">
			<li id="chartTab" class="active">
			
				<div class="row">	
						<ul class="block-grid two-up">
							<li><span data-icon="b" title="<%= t :age %>" id="age"><span class="has-tip" title="<%=l @patient.date_of_birth, :format => :long %>"><%=@patient.age%> <%= t(:years_old) %></span></span></li>
							<li><span data-icon="@" title="<%= t :email %>" id="email"><%= mail_to @patient.email%></span></li>
							<li><span data-icon="g" title="<%= t :telephone %>" id="phone1"><%=@patient.telephone%></span></li>
							<li><span data-icon="c" title="<%= t :mobile %>" id="mobile"><%=@patient.mobile%></span> </li>
							<li><span data-icon="!" title="<%= t :emergency_telephone %>" id="phone2"><%=@patient.emergency_telephone%></span></li>
							<li><span data-icon="f" title="<%= t :address %>" id="address"><%=@patient.address%></span></li>
						</ul>		
				</div>
				<div class="row">
									
					<hr />
					
					<% if @patient.uid != "" %>
						<p><strong><%= t :chart_number %></strong> <%=@patient.uid%></p>
					<% end %>
					
					<% if @patient.allergies != "" %>
						<p class="error_field"><strong><%= t :allergic_to %>:</strong> <%=@patient.allergies%></p>
					<% end %>
					<p><strong><%= t :past_illnesses %>:</strong> <%=@patient.past_illnesses%></p>
					<p><strong><%= t :past_surgeries %>:</strong> <%=@patient.surgeries%></p>
					<p><strong><%= t :current_medications %>:</strong> <%=@patient.medications%></p>
					<p><strong><%= t :cigarettes_per_day %>:</strong> <%=@patient.cigarettes_per_day%></p>
					<p><strong><%= t :drinks_per_day %>:</strong> <%=@patient.drinks_per_day%></p>
					<p><strong><%= t :drugs_use %>:</strong> <%=@patient.drugs_use%></p>
					<p><strong><%= t :family_history %>:</strong> <%= simple_format @patient.family_diseases%></p>
				</div>
			
				<div class="row">
					<div class="notes">
						<%= render :partial => "notes/index", :locals => {:notes => @patient_notes, :noteable => @patient} %>
					</div>
					
					<%= render :partial => "notes/new", :locals => {:noteable => @patient} %>
				</div>
			</li>
			<li id="appointmentsTab"></li>
			<li id="treatmentsTab"></li>
			<li id="balanceTab"></li>
		</ul>
	</div>
	
</div>

<script>
	$(document).ready(function () {		
		$("#appointmentsTab").load("<%=appointments_patient_path(@patient) %>");
		$("#treatmentsTab").load("<%=patient_patient_treatments_path(@patient) %>");
		$("#balanceTab").load("<%=patient_balances_path(@patient) %>");
		
		// Let's refresh the balance every time someone clicks here
		$("a[href=#balance]").click(function(){
			$("#balanceTab").load("<%=patient_balances_path(@patient) %>");
		});
	});
</script>