<%= form_for(@practice, :url => "/practice", :method => :create) do |practice_form| %>

  <%= render "shared/error_messages", :target => @practice %>

  <p>
    <%= practice_form.text_field :name, :placeholder => t(:practice_name), :class => "input-text" %> 
	<sub><%= t :practice_name_hint %></sub>
  </p>

	<%= practice_form.fields_for :users do |user_form| %>

	  <p>
	    <%= user_form.email_field :email, :placeholder => t(:email), :class => "input-text" %>
	  </p>
		<p>
		  <%= user_form.password_field :password, :placeholder => t(:password), :class => "input-text" %>
		</p>
		<p>
		  <%= user_form.password_field :password_confirmation, :placeholder => t(:password_confirmation), :class => "input-text" %>
		</p>

	<% end %>
	
		<%= practice_form.submit(t(:signup), :class => "button nice blue", :disable_with => t(:please_wait)) %>
		<%= t :or %> <%= link_to t(:signin), signin_url %>
		
		<hr />
		
		<%= raw t :you_agree_to_our_terms_and_privacy_policy, terms_url: link_to(t(:terms_of_service), "/terms", :target => "_blank"), privacy_url: link_to(t(:privacy_policy), "/privacy", :target => "_blank") %>

<% end %>
