<%= form_for(@practice) do |practice_form| %>

  <% if @practice.errors.any? %>
    <div class="error">
      <% @practice.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

  <p>
    <%= practice_form.text_field :name, :placeholder => _("Practice Name"), :title => _("Practice Name") %>
	<sub><%=_('("Great Smiles Dentists" or "John Peterson\'s")')%></sub>
  </p>

	<%= practice_form.fields_for :users do |user_form| %>

	  <p>
	    <%= user_form.text_field :firstname, :placeholder => _("First name"), :title => _("First name") %>
	  </p>
	  <p>
	    <%= user_form.text_field :lastname, :placeholder => _("Last name"), :title => _("Last name")  %>
	  </p>
	  <p>
	    <%= user_form.email_field :email, :placeholder => _("Email"), :title => _("Email") %>
	  </p>
		<p>
		  <%= user_form.password_field :password, :placeholder => _("Password"), :title => _("Password") %>
		</p>
		<p>
		  <%= user_form.password_field :password_confirmation, :placeholder => _("Confirm your password"), :title => _("Confirm your password") %>
		</p>

	<% end %>
	
  <%= practice_form.submit(_("Register"), :class => "g-button", :disable_with => _("Please wait...")) %>
  <%=_("Already have an account?")%> <%= link_to _("Sign in"), signin_url %>

<% end %>
