<script type="text/javascript">
	var timezone = determine_timezone().timezone;
	$.get('/set_session_time_zone', {"detected_timezone": timezone.olson_tz})
</script>

<%= form_for(@practice) do |practice_form| %>

  <%= render "shared/error_messages", :target => @practice %>

  <p>
    <%= practice_form.text_field :name, :placeholder => _("Practice Name"), :title => _("Practice Name") %>
	<sub><%=_('("Great Smiles Dentists" or "John Peterson\'s")')%></sub>
  </p>

	<%= practice_form.fields_for :users do |user_form| %>

	  <p>
	    <%= user_form.email_field :email, :placeholder => _("Email"), :title => _("Email") %>
	  </p>
		<p>
		  <%= user_form.password_field :password, :placeholder => _("Password"), :title => _("Password") %>
		</p>
		<p>
		  <%= user_form.password_field :password_confirmation, :placeholder => _("Confirm your password"), :title => _("Confirm your password") %>
		</p>

	<% end %>

	<% if $beta_mode %>
  <p>
    <%= practice_form.text_field :invitation_code, :placeholder => _("Invitation Code for this Beta"), :title => _("Invitation Code for this Beta") %>
  </p>
	<% end %>
	
  <%= practice_form.submit(_("Register"), :class => "g-button", :disable_with => _("Please wait...")) %>
  <%=_("Already have an account?")%> <%= link_to _("Sign in"), signin_url %>

<% end %>
