<div id="pad-wrapper" class="new-user">
  <div class="row header col-md-12">
      <h3><%= t :balance %></h3>

      <div class="pull-right-lg">
        <a href="#pick-date" class="btn-flat white pull-right"><%= l(@selected_date, :format => :long) %></a>
        <input type="text" class="datepicker hidden" />

      </div>
  </div>

    <div class="row form-wrapper">

        <div class="col-md-12">

          <!-- Balance table -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="col-md-6"><%=t :notes %></th>
                <th width="col-md-3"><span class="line"></span> <%=t :expense %></th>
                <th width="col-md-3"><span class="line"></span> <%=t :income %></th>
              </tr>
            </thead>
            <tbody>
              <% @balances.each do |balance| %>
                <tr>
                  <td><%= link_to "#{balance.firstname} #{balance.lastname}", patient_path(balance.patient_id) %><br />
                  <sub><%= l balance.created_at, :format => :long %> - <%= balance.notes %></sub>
                  </td>
                  <td align="center"><% if (balance.amount < 0)%> <%=balance.amount %> <% end %></td>
                  <td align="center"><% if (balance.amount >= 0)%> <%=balance.amount %> <% end %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td><h5><%=link_to number_to_currency_with_symbol(@total), practice_balance_path(:format => :csv), :title => t(:download_as_csv_file) %></h5></td>
              </tr>
            </tfoot>
          </table>

        </div>

    </div>

</div>

<script type="text/javascript">
  $(function () {
    var $link = $("a[href='#pick-date']");

    var $input = $('.datepicker').pickadate({
        today: '<%= t :today %>',
        clear: '<%= t :cancel %>',
        monthsFull: <%= raw (t "date.month_names").last(12) %>,
        monthsShort: <%= raw (t "date.abbr_month_names").last(12) %>,
        weekdaysFull: <%= raw (t "date.day_names").last(7) %>,
        weekdaysShort: <%= raw (t "date.abbr_day_names").last(7) %>,
        onClose: function() {
          var selectedDate = picker.get("select", "yyyy-mm-dd");

          if (selectedDate){
            window.location = "?created_at=" + picker.get("select", "yyyy-mm-dd");
          }
        }
    });

    var picker = $input.pickadate('picker');

    $link.click(function() {
      picker.open();
      return false;
    });

  });
</script>
