<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        <%= t :practice_cancellation %>
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <%= link_to t(:close_account), practice_close_url, :method => :post, data: { confirm: t(:are_you_sure_no_undo) }, "class" => "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row row-cards">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <%= t :practice_cancellation_message %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="px-4">
        <h3 class="card-title"><%= t :for_your_information %></h3>
        <%= raw t "instructions.cancel".html_safe %>
      </div>
    </div>
  </div>
</div>