<h1><%=_('Practice Settings')%></h1>

<%= form_for(@practice, :url => "/practices/#{@practice.id}", :method => :update) do |f| %>

  <% if @practice.errors.any? %>
    <div class="error">
      <% @practice.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

	<fieldset>
		<legend><%=_("Practice information")%></legend>
	  <p>
	    <%= f.text_field :name, :placeholder => _("Practice Name"), :title => _("Practice Name") %>
			<sub><%=_('("Great Smiles Dentists" or "John Peterson\'s")')%></sub>
	  </p>
	</fieldset>
	<fieldset>
		<legend><%=_("Language and Dates")%></legend>
	  <p>
			<%= f.label _("Preferred language") %>
			<%= f.select(:locale, [[_('English'),'en_US'],[_('Español'),'es_ES']], :title => _("Preferred language")) %>
	  </p>
	  <p>
			<%= f.label _("Time zone") %>
			<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, :default => Time.zone.name, :title => _("Time zone") %></p>
	  </p>
	</fieldset>
	
	<%= f.submit(_("Save"), :class => "g-button") %> <%= _("or") %> <%= link_to _("Cancel"),  practice_url%>

<% end %>
	
	<hr />
	
	<h1><%=_("Plans and payments")%></h1>
	
	<fieldset>
		<%=_("Number of patients in your account")%>: <%= @practice_patients_count %>
		<ul id="list-items">
			<% PLANS.each do |plan, values| %>
					<% current_plan = true if @practice.plan_id == values['id']%>
					<li>
						<% if current_plan %><strong><%= _('Current') %>:<% end %>
						<%=_("#{extract_text_from_gettext(values['name'])}")%> 
						<%= "— $" + values['price'].to_s unless values['id'].to_i == 1 %>
						<strong>
						<% if current_plan %>
							— <%= @practice.number_of_patients %> <%=_('patients')%> (<%= (@practice.number_of_patients - @practice_patients_count).to_s + " " + _("left")%>)
						<% end %>
						</strong><br />
						
						
						<% if current_plan %></strong><% end %>
						<sub><%=_("#{extract_text_from_gettext(values['description'])}")%></sub>

						<div class="pp_subscribe_button">
							<% if !current_plan %>
								<% if values['id'].to_i == 1 %>
										<%= link_to _("Change to this Plan"), change_to_free_plan_url, :class => "g-button green" %>
								<% end %>
								<% if values['id'].to_i > 1 %>
									<% if @practice.plan_id > 1 %>
										<%= render :partial => "/paypal/#{values['button_partial']}" + "_change", :locals => { :custom => @practice.id} if @practice_patients_count <= values['number_of_patients'].to_i  %>
									<% else %>
										<%= render :partial => "/paypal/#{values['button_partial']}", :locals => { :custom => @practice.id} %>
									<% end %>
								<% end %>
							<% elsif values['id'].to_i > 1 %>
								<% if @practice.status == "expiring" %>
									<div class="list-item"><br /><%=_("Plan being cancelled")%></div>
								<% else %>
									<%= render :partial => "/paypal/unsubscribe_button", :locals => { :custom => @practice.id} %>
								<% end %>
							<% end %>
						</div>
					</li>
			<% end %>
		</ul>
	</fieldset>
	<hr />
	<small><%=_('If you need to, you can')%> <%=link_to _('Close your account here'), practice_cancel_url %></small>
