<h1><%=_('Practice Settings')%></h1>

<%= form_for(@practice, :url => "/practices/#{@practice.id}", :method => :update) do |f| %>

  <% if @practice.errors.any? %>
    <div class="error">
      <% @practice.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

	<fieldset>
		<legend><%=_("Practice information")%></legend>
	  <p>
	    <%= f.text_field :name, :placeholder => _("Practice Name"), :title => _("Practice Name") %>
			<sub><%=_('("Great Smiles Dentists" or "John Peterson\'s")')%></sub>
	  </p>
	</fieldset>
	<fieldset>
		<legend><%=_("Language and Dates")%></legend>
	  <p>
			<%= f.label _("Preferred language") %>
			<%= f.select(:locale, [[_('English'),'en_US'],[_('Español'),'es_ES']], :title => _("Preferred language")) %>
	  </p>
	  <p>
			<%= f.label _("Time zone") %>
			<%= f.time_zone_select :timezone, ActiveSupport::TimeZone.all, :default => Time.zone.name, :title => _("Time zone") %></p>
	  </p>
	</fieldset>
	<fieldset>
		<legend><%=_("Plans and payments")%></legend>

		<ul id="list-items">
			<% PLANS.each do |plan, values| %>
					<% current_plan = true if @practice.plan_id == values['id']%>
					<li>
						<% if current_plan %><strong><% end %>
						<%=_("#{extract_text_from_gettext(values['name'])}")%> <strong><%= "(#{_('Current plan')})" if current_plan %></strong><br />
						<% if current_plan %></strong><% end %>
						<sub><%=_("#{extract_text_from_gettext(values['description'])}")%></sub>
						<% unless current_plan %>
							<div style="float:right;position: relative;top: -13px;"><%= link_to _("Order this plan"), @practice, :class => "g-button green"%></div>
						<% else %>
							<div class="list-item"><%= @practice_users_count %> <%=_('users')%><br />(<%= (@plan_number_of_patients - @practice_users_count).to_s + " " + _("left")%>)</div>
						<% end %>
					</li>
			<% end %>
		</ul>


	</fieldset>

	
  <%= f.submit(_("Save"), :class => "g-button") %>

<% end %>
