<div class="row">

	<div class="eight columns">
		<h1><%=_('Practice settings')%></h1>
		
		<%= form_for(@practice, :url => "/practices/#{@practice.id}", :method => :update) do |f| %>
		
		  <% if @practice.errors.any? %>
		    <div class="alert-box error">
		      <% @practice.errors.full_messages.each do |msg| %>
		        <%= msg %><br />
			  	<% end %>
			  	<a href="" class="close">&times;</a>
		    </div>
		  <% end %>
		
			<fieldset>
				<legend><%=_("Practice information")%></legend>
			  <p>
			  	<%= f.label :name %>
			    <%= f.text_field :name, :title => _("Practice Name"), :class => "input-text" %>
					<sub><%=_('("Great Smiles Dentists" or "John Peterson\'s")')%></sub>
			  </p>
			</fieldset>
			<fieldset>
				<legend><%=_("Customization")%></legend>
			  	<p>
					<%= f.label :locale %>
					<%= f.select(:locale, [[_('English'),'en_US'],['Español','es_ES']], :title => _("Preferred language")) %>
			  	</p>
			  	<p>
					<%= f.label :timezone %>
					<%= f.time_zone_select :timezone, [ ActiveSupport::TimeZone[@practice.timezone]] %>
			  	</p>
			  	<p>
					<%= f.label :currency_unit %>
					<%= f.select(:currency_unit, %w[$ € £ Bs. S/.]) %>
			  	</p>
			</fieldset>
	
			<%= f.submit(_("Save"), :class => "button nice white") %> <%= _("or") %> <%= link_to _("Cancel"),  practice_url%>
	
		<% end %>
	</div>
	
	<div class="four columns">
		<div class="panel">
			<% if $payments %>
				<h1><%=_("Plans and payments")%></h1>
				
				<ul id="list-items">
					<% PLANS.each do |plan, values| %>
							<% current_plan = true if @practice.plan_id == values['id']%>
							<li>
								
								<h4><%=_("#{extract_text_from_gettext(values['name'])}")%>
								<%= "— $" + values['price'].to_s unless values['id'].to_i == 1 %>
								<% if current_plan %>
									— <%= @practice.number_of_patients %> <%=_('patients')%> (<%= (@practice.number_of_patients - @practice_patients_count).to_s + " " + _("left")%>)
								<% end %> <% if current_plan %><span class="label radius green">(<%= _('Current') %>)</span><% end %></h4>
								
								<% if current_plan %></strong><% end %>
								<p><%=_("#{extract_text_from_gettext(values['description'])}")%></p>
			
									<% if !current_plan %>
										<% if values['id'].to_i == 1 %>
												<%= link_to _("Change to this Plan"), change_to_free_plan_url, :class => "button nice white" %>
										<% end %>
										<% if values['id'].to_i > 1 %>
											<% if @practice.plan_id > 1 %>
												<%= render :partial => "/paypal/#{values['button_partial']}" + "_change", :locals => { :custom => @practice.id} if @practice_patients_count <= values['number_of_patients'].to_i  %>
											<% else %>
												<%= render :partial => "/paypal/#{values['button_partial']}", :locals => { :custom => @practice.id} %>
											<% end %>
										<% end %>
									<% elsif values['id'].to_i > 1 %>
										<% if @practice.status == "expiring" %>
											<div class="list-item"><br /><%=_("Plan being cancelled")%></div>
										<% else %>
											<%= render :partial => "/paypal/unsubscribe_button", :locals => { :custom => @practice.id} %>
										<% end %>
									<% end %>
							</li>
					<% end %>
			</ul>
				<hr />
			<% end %>	
				
			<p><%=_('If you need to, you can')%> <%=link_to _('close your account here'), practice_cancel_url %></p>
			
		</div>
	</div>
</div>	