<div class="row">

	<div class="eight columns">
		<h1><%= @practice.name %></h1>
		
		<%= form_for(@practice, :url => "/practice/#{@practice.id}", :method => :update) do |f| %>
		
		  <% if @practice.errors.any? %>
		    <div class="alert-box error">
		      <% @practice.errors.full_messages.each do |msg| %>
		        <%= msg %><br />
			  	<% end %>
			  	<a href="" class="close">&times;</a>
		    </div>
		  <% end %>
		
			<fieldset>
				<legend><%= t :practice_information %></legend>
			  <p>
			  	<%= f.label :name %>
			    <%= f.text_field :name, :title => t(:practice_name), :class => "input-text" %>
					<sub><%= t :practice_name_hint %></sub>
			  </p>
			</fieldset>
			<fieldset>
				<legend><%= t :customization %></legend>
			  	<p>
					<%= f.label :locale %>
					<%= f.select(:locale, [[ t(:english), 'en'],[ t(:spanish),'es']] ) %>
			  	</p>
			  	<p>
					<%= f.label :timezone %>
					<%= f.time_zone_select :timezone, [ ActiveSupport::TimeZone[@practice.timezone]] %>
			  	</p>
			  	<p>
					<%= f.label :currency_unit %>
					<%= f.select(:currency_unit, %w[$ € £ Bs. S/.]) %>
			  	</p>
			</fieldset>
	
			<%= f.submit(t(:save), :class => "button nice white") %> <%= t(:or) %> <%= link_to t(:cancel),  practice_url%>
	
		<% end %>
	</div>
	
	<div class="four columns">
		<div class="panel">				
			<p><%= link_to t(:close_your_account), practice_cancel_url, "data-icon" => "-" %></p>
			
		</div>
	</div>
</div>	