<div id="pad-wrapper" class="new-user">
    <div class="row header">
        <div class="col-md-12">
            <h3><%= t :practice_settings %></h3>
        </div>
    </div>

    <div class="row form-wrapper">
        <!-- left column -->
        <div class="col-md-9 with-sidebar">
            <%= form_for(@practice, :url => "/practice/#{@practice.id}", :method => :update, :class => "form-horizontal") do |f| %>

				<%= render "shared/error_messages", :target => @practice%>

				<p class="form-group col-md-8">
					<%= f.label :name %> *
					<%= f.text_field :name, :class => "form-control" %>
					<%= content_tag "sub", t(:practice_name_hint) %>
				</p>

				<p class="form-group col-md-8">
					<%= f.label :email, t(:practice_email) %> *
					<%= f.text_field :email, :class => "form-control" %>
					<%= content_tag "sub" %>
				</p>

			  	<p class="form-group col-md-8">
					<%= f.label :locale %>
					<%= f.select(:locale, [[ t(:english), 'en'],[ t(:spanish),'es']], {}, { :class => "form-control"} ) %>
			  	</p>

			  	<p class="form-group col-md-8">
					<%= f.label :timezone %>
					<%= f.time_zone_select :timezone, [ ActiveSupport::TimeZone[@practice.timezone]], {}, { :class => "form-control"} %>
			  	</p>

			  	<p class="form-group col-md-8">
					<%= f.label :currency_unit %>
					<%= f.select(:currency_unit, %w[$ € £ Bs. S/.], {}, { :class => "form-control"}) %>
			  	</p>

				<p class="form-group col-md-8">
					<%= f.submit(t(:save), :class => "btn btn-primary", data: { disable_with: t(:please_wait) }) %>
					<span class="cancel"><%= t :or %>
						<%= link_to t(:cancel).downcase, practice_url %>
					</span>
				</p>

			<% end %>
        </div>

        <!-- side right column -->
        <div class="col-md-3 form-sidebar">
			<h6>Subscription <span class="label label-default"><%= @subscription.status %></span></h6>

			<%# 
			has_linked_subscription + has_active_subscription == "Paying customer send to manage"
			!has_linked_subscription + has_active_subscription == "Trial"
			has_linked_subscription + canceled == "Needs to subscribe again" 
			%>

			<% if @practice.has_active_subscription? %>
				Your subscription is <strong><%= @subscription.status %></strong>
			<% else %>
				Your subscription is no longer active, please <%= link_to "subscribe", subscriptions_url, method: :put %> to activate your account.
			<% end %>

			<hr />

            <h6><%= t :for_your_information %></h6>
            <p><%= raw t("instructions.practice", close_url: (link_to (t(:close_your_account)).downcase, practice_cancel_url)).html_safe %></p>
        </div>
    </div>
</div>
