<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        <%= t :edit %>
      </div>
      <h2 class="page-title"><%= t :practice_settings %></h2>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="row row-cards">
    <div class="col-md-8">
      <%= render 'form-settings' %>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <%= t('subscriptions.title') %> 
                
              </h3>
              <div class="card-actions">
                <%= label_tag t("subscriptions.status.#{@subscription.status}") %>
              </div>
            </div>

            <div class="card-body">
              <% if !@practice.has_linked_subscription? && @practice.has_active_subscription? %>
                <%= raw t('subscriptions.message_to_admin.trialing', stripe_url: link_to(t('subscriptions.cta.trialing'), subscriptions_url, method: :post).html_safe) %>
              <% elsif @practice.has_linked_subscription? && @practice.has_active_subscription? %>
                <%= raw t('subscriptions.message_to_admin.active', status: @subscription.status, stripe_url: link_to(t('subscriptions.cta.active'), subscriptions_url, method: :put).html_safe) %>
              <% else %>
                <%= raw t('subscriptions.message_to_admin.expired', stripe_url: link_to(t('subscriptions.cta.expired'), subscriptions_url, method: :post).html_safe) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row py-3">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">
                <%= t('stripe_payment_processing.title') %>
              </h3>
              <div class="card-actions">
                <%= content_tag :span, connect_account_status_i18n(@practice.connect_onboarding_status)[:title], 
                                class: "badge bg-#{connect_account_status_badge_class(@practice.connect_onboarding_status)}-lt" %>
              </div>
            </div>

            <div class="card-body">
              <p><%= connect_account_status_i18n(@practice.connect_onboarding_status)[:description] %></p>
              <p><%= link_to connect_account_status_i18n(@practice.connect_onboarding_status)[:cta], connect_account_path, class: "btn btn-outline-secondary" %></p>
            </div>
          </div>
        </div>
	    </div>

      <div class="row py-3">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"><%= t(:agent_access_settings) %></h3>
              <div class="card-actions">
                <% if @practice.agent_access_enabled? %>
                  <%= label_tag t(:agent_access_status_enabled), :green %>
                <% else %>
                  <%= label_tag t(:agent_access_status_disabled) %>
                <% end %>
              </div>
            </div>
            <div class="card-body">
              <p class="text-muted"><%= t(:agent_access_settings_description) %></p>
              <%= link_to t(:manage_agent_access), practice_agent_settings_url, class: "btn btn-outline-secondary" %>
            </div>
          </div>
        </div>
      </div>
	  
      <div class="row">
        <div class="px-3">
	        <hr />
        </div>
      </div>

      <div class="row">
        <div class="px-3">
          <h3 class="card-title"><%= t :for_your_information %></h3>
          <%= raw t("instructions.practice", close_url: (link_to (t(:close_your_account)).downcase, practice_cancel_url)).html_safe %>
        </div>
      </div>
    </div>
  </div>
</div>