<h1><%=_('My practice')%></h1>

<p><%=_('This is more like a "dashboard" of my practice, where I can manage my users and doctors.')%></p>

<ul id="list-items">
	<li>
		<h2><%=link_to _("My doctors"), doctors_url %></h2>
		<span><%=_('The people who do the things to your patients.')%></span>
		<div class="list-item"><%= @practice.doctors.count %> <%=_('doctors')%></div>
	</li>
	<li>
		<h2><%=link_to _("My users"), users_url %></h2>
		<span><%=_('Everyone who has access to your odonto.me.')%></span>
		<div class="list-item"><%= @practice.users.count %> <%=_('users')%></div>
	</li>
	<li>
		<h2><%=link_to _("My practice settings"), practice_settings_url %></h2>
		<span><%=_('Change here your practice name, select your language and more')%></span>
	</li>
</ul>
