<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">From <%= @week_start.strftime('%b %d') %> to <%= @week_end.strftime('%b %d') %></div>
      <h2 class="page-title"><%= @practice.name %></h2>
    </div>
  </div>
</div>

<%# Make this using the "wizard?" %>
<% if @practice.patients_count == 0 || @practice.doctors_count == 0 %>
  <div class="alert alert-info">
    <div class="col-md-8 col-md-offset-2 tutorial">
      <h4><%= I18n.t :welcome %></h4>
      <p><%= I18n.t "tutorial.message" %></p>

      <hr />

      <% if @practice.datebooks_count == 1 %>
          <p><%= raw I18n.t "tutorial.datebooks", :datebooks_url => link_to(I18n.t(:datebooks).downcase, datebooks_url) %></p>
      <% end %>
      <% if @practice.doctors_count == 0 %>
          <p><%= raw I18n.t "tutorial.doctors", :doctors_url => link_to(I18n.t(:doctors).downcase, doctors_url) %></p>
      <% end %>
      <p><%= raw I18n.t "tutorial.practice", :practice_settings_url => link_to(I18n.t(:practice_settings).downcase, practice_settings_url) %></p>
    </div>
  </div>
<% end %>

<div class="page-body">
  <div class="row row-deck row-cards">
    <%= render partial: 'practices/weekly_analytics' %>
  </div>
</div>

<% if params[:ref] == 'signup' && ENV['GOOGLE_ADS_SIGNUP_CONVERSION'].present? %>
  <script>
    if (typeof gtag === 'function') {
      gtag('event', 'conversion', { 'send_to': '<%= ENV['GOOGLE_ADS_SIGNUP_CONVERSION'] %>' });
    }
  </script>
<% end %>