<div id="pad-wrapper">

    <% if @practice.patients_count == 0 || @practice.doctors_count == 0 %>
        <div class="flash-message alert alert-warning row">
            <div class="col-md-8 col-md-offset-2 tutorial">
                <h4><%= I18n.t :welcome %></h4>
                <p><%= I18n.t "tutorial.message" %></p>

                <hr />

                <% if @practice.datebooks_count == 1 %>
                    <p><%= raw I18n.t "tutorial.datebooks", :datebooks_url => link_to(I18n.t(:datebooks).downcase, datebooks_url) %></p>
                <% end %>
                <% if @practice.doctors_count == 0 %>
                    <p><%= raw I18n.t "tutorial.doctors", :doctors_url => link_to(I18n.t(:doctors).downcase, doctors_url) %></p>
                <% end %>
                <p><%= raw I18n.t "tutorial.practice", :practice_settings_url => link_to(I18n.t(:practice_settings).downcase, practice_settings_url) %></p>

            </div>
        </div> 
    <% end %>

    <!-- header -->
    <div class="row header">
        <div class="col-md-10">
            <h3><%= @practice.name %></h3>
        </div>

        <div class="col-md-2">
			<%= link_to t(:practice_settings), practice_settings_url, :class => "btn-flat white" %>
		</div>
    </div>


    <div class="row stats">
        <div class="col-md-4 card">
            <div>
            	<h1><%= link_to @practice.datebooks_count, datebooks_url %></h1>
            	<p><%= t :datebooks %></p>
            </div>
        </div>
        <div class="col-md-4 card">
            <div>
            	<h1><%= link_to @practice.doctors_count, doctors_url %></h1>
            	<p><%= t :doctors %></p>
            </div>
        </div>
        <div class="col-md-4 card">
            <div>
            	<h1><%= link_to @practice.patients_count, patients_url %></h1>
            	<p><%= t :patients %></p>
            </div>
        </div>
    </div>
	
</div>