<div class="row">
	<div class="eight columns">
		<h1><%= t :my_practice %></h1>

		<ul id="list-items">
			<li>
				<h2><%= link_to t(:my_treatments), treatments_url %> <span class="label radius blue"><%= @practice.treatments.count %> <%= (t :treatments).downcase %></span></h2>
				<span><%= t :my_treatments_summary %></span>
				
			</li>
			<li>
				<h2><%= link_to t(:my_doctors), doctors_url %> <span class="label radius blue"><%= @practice.doctors.count %> <%= (t :doctors).downcase %></span></h2>
				<span><%= t :my_doctors_summary %></span>
			</li>
			<li>
				<h2><%=link_to t(:my_users), users_url %> <span class="label radius blue"><%= @practice.users.count %> <%= (t :users).downcase %></span></h2>
				<span><%= t :my_users_summary %></span>
			</li>
			<% if @is_user_admin %>
				<li>
					<h2><%=link_to t(:my_practice_settings), practice_settings_url %></h2>
					<span><%= t :my_practice_settings_summary%></span>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="four columns">
		<div class="panel hide-on-phones">
			<p><%= t :my_practice_help %></p>
		</div>
	</div>	
</div>
