<%= form_for(@doctor) do |f| %>

  <%= render "shared/error_messages", :target => @doctor %>

  <p>
  	<%= f.label :firstname %>
    <%= f.text_field :firstname, :class => "input-text" %>
  </p>
  <p>
  	<%= f.label :lastname %>
    <%= f.text_field :lastname, :class => "input-text"  %>
  </p>
  <p>
  	<%= f.label :uid %>
    <%= f.text_field :uid, :class => "input-text" %>
  </p>
  <p>
  	<%= f.label :email %>
    <%= f.email_field :email, :class => "input-text" %>
  </p>
  <p>
	<%= f.label :gender %>
	<%= f.select(:gender, [[t(:male),(t(:male)).downcase],[t(:female),(t(:female)).downcase]]) %>
  </p>
  <p>
  	<%= f.label :speciality %>
    <%= f.text_field :speciality, :class => "input-text" %>
  </p>
  <p>
	<%= f.label t(:calendar_color) %>
	<%= f.text_field :color, :placeholder => t(:calendar_color), :class => "color_picker" %>    
  </p>

	<%= f.submit(t(:save), :class => "button nice white", :disable_with => t(:please_wait)) %> 
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
		$('.color_picker').simpleColor({
			buttonClass: "g-button",
			buttonValue: "<%= t(:choose)%>",
			buttonCancelValue: "<%= t(:cancel)%>"
			});
	});
</script>

