<%= form_for(@doctor) do |f| %>

  <% if @doctor.errors.any? %>
    <div class="error">
      <% @doctor.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

  <p>
    <%= f.text_field :firstname, :placeholder => _("First name"), :title => _("First name") %>
  </p>
  <p>
    <%= f.text_field :lastname, :placeholder => _("Last name"), :title => _("Last name")  %>
  </p>
  <p>
    <%= f.text_field :uid, :placeholder => _("Unique identifier"), :title => _("Unique identifier") %>
	<sub><%=_('(Only if your wish for your clinic to have a custom identification system)')%></sub>
  </p>
  <p>
    <%= f.email_field :email, :placeholder => _("Email"), :title => _("Email") %>
  </p>
  <p>
	<%= f.label _("Gender") %>
	<%= f.select(:gender, [[_('Male'),'male'],[_('Female'),'female']], :title => _("Gender")) %>
  </p>
  <p>
    <%= f.text_field :speciality, :placeholder => _("Speciality"), :title => _("Specialities of the doctor") %>
  </p>

  <%= f.submit(_("Save"), :class => "g-button", :disable_with => _("Please wait...")) %> 

  <% if controller.action_name == "edit" %>
	  <% if @doctor.is_active %>
			<%=link_to _('Suspend'), @doctor, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %>
	  <% else %>
			<%=link_to _('Activate'), @doctor, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %>
	  <% end %>
  <% end %>
  <%=_("or")%> <%= link_to _("Cancel"), doctors_path %>

<% end %>
