<%= form_for(@doctor) do |f| %>
  <div class="card-body">
    <%= render "shared/error_messages", :target => @doctor %>

    <div class="mb-3">
      <%= f.label :firstname, class: "form-label required" %>
      <%= f.text_field :firstname, :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :lastname, class: "form-label required" %>
      <%= f.text_field :lastname, :class => "form-control"  %>
    </div>

    <div class="mb-3">
      <%= f.label :uid, class: "form-label" %>
      <%= f.text_field :uid, :class => "form-control" %>
      <%= content_tag "small", t(:only_if_clinic_uses_uid), class: "text-muted" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, :class => "form-control" %>
      <%= content_tag "small", t(:consider_using_gravatar), class: "text-muted" %>
    </div>

    <div class="mb-3">
      <%= f.label :gender, class: "form-label" %>
      <%= f.select(:gender, [[t(:male),(t(:male)).downcase],[t(:female),(t(:female)).downcase]], {}, { :class => "form-select" }) %>
    </div>

    <div class="mb-3">
      <%= f.label :speciality, class: "form-label" %>
      <%= f.text_field :speciality, :class => "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :calendar_color, class: "form-label" %>
      <%= f.color_field :color, :class => "form-control form-control-color" %>
    </div>
  </div>

  <div class="card-footer text-end">
    <div class="d-flex">
      <%= f.submit(t(:save), :class => "btn btn-primary ms-auto", data: { disable_with: t(:please_wait) }) %>
    </div>
  </div>
<% end %>
