<%= form_for(@doctor) do |f| %>

  <% if @doctor.errors.any? %>
    <div class="error">
      <% @doctor.errors.full_messages.each do |msg| %>
        <%= msg %><br />
	  <% end %>
    </div>
  <% end %>

  <p>
    <%= f.text_field :firstname, :placeholder => "First name", :title => "First name" %>
  </p>
  <p>
    <%= f.text_field :lastname, :placeholder => "Last name", :title => "Last name"  %>
  </p>
  <p>
    <%= f.text_field :uid, :placeholder => "Unique identifier", :title => "Unique identifier" %>
	<sub>(Only if your wish for your clinic to have a custom identification system)</sub>
  </p>
  <p>
    <%= f.text_field :email, :placeholder => "Email", :title => "Email" %>
  </p>
  <p>
	<%= f.label "Gender"%>
	<%= f.select(:gender, [['Male','male'],['Female','female']], :title => "Gender") %>
  </p>
  <p>
    <%= f.text_field :speciality, :placeholder => "Speciality", :title => "Specialities of the doctor" %>
  </p>

  <%= f.submit("Save", :class => "g-button") %> 

  <% if controller.action_name == "edit" %>
	  <% if @doctor.is_active %>
			<%=link_to "Suspend (TODO!)", @doctor, :method => :delete, :confirm => "Are you sure?", :class => "g-button red" %>
	  <% else %>
			<%=link_to "Activate (TODO!)", @doctor, :method => :delete, :confirm => "Are you sure?", :class => "g-button red" %>
	  <% end %>
  <% end %>
  or <%= link_to "Cancel", doctors_path %>

<% end %>
