<h1><%=_('Doctors')%> <%= link_to "+", new_doctor_url, :class => "g-button" %></h1>

<ul id="list-items">
	<% if @doctors.empty? %>
		<p><%=("You currently don't have any doctors in your practice. Remember that you need at least one doctor in order to create appointments.")%></p>
	<% else %>
		<% @doctors.each do |doctor| %>
			<% unless doctor.is_active
				cclass = "disabled-list"
			   else
				cclass = ""
			   end
			%>
			<li class="<%=cclass%>">
				<h2><%= link_to doctor.fullname, doctor %> <%= _('Inactive') unless doctor.is_active %></h2>			

				<span><%=doctor.uid%></span>
				<span><strong><%=_('Speciality')%>:</strong> <%=doctor.speciality%></span>
				
				<% if doctor.is_deleteable %>
					<div class="list-item-button"><%=link_to _('Delete'), doctor, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %></div>
				<% else %>
					<div class="list-item-button"><%=link_to (doctor.is_active) ? _('Suspend') : _('Activate'), doctor, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button #{(doctor.is_active) ? 'red' : 'green'}" %></div>
				<% end %>

				<div class="list-item-button"><%=link_to _('Edit'), edit_doctor_path(doctor), :class => "g-button" %></div>
			</li>
		<% end %>
	<% end %>
</ul>

<%= link_to _("Create new doctor"), new_doctor_url, :class => "g-button" %>
