<h1><%=_('Doctors')%> <%= link_to "+", new_doctor_url, :class => "g-button" %></h1>

<ul id="list-items">
	<% @doctors.each do |doctor| %>
		<% unless doctor.is_active
			cclass = "disabled-list"
		   else
			cclass = ""
		   end
		%>
		<li class="<%=cclass%>">
			<h2><%= link_to doctor.fullname, doctor %> <%= _('Inactive') unless doctor.is_active %></h2>			

			<span><%=doctor.uid%></span>
			<span><strong><%=_('Specialty')%>:</strong> <%=doctor.speciality%></span>

			<div class="list-item-button"><%=link_to _('Delete'), doctor, :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %></div>
			<div class="list-item-button"><%=link_to _('Edit'), edit_doctor_path(doctor), :class => "g-button" %></div>
		</li>
	<% end %>
</ul>

<%= link_to _("Create new doctor"), new_doctor_url, :class => "g-button" %>
