<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <div class="page-pretitle">
        TRANSLATE
      </div>
      <h2 class="page-title">
        <%= t :doctors %>
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <%= link_to new_doctor_url, class: "btn btn-primary d-none d-sm-inline-block" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg><!-- Download SVG icon from http://tabler-icons.io/i/plus -->
          <%= t(:create_new_doctor) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-vcenter table-mobile-md card-table">
        <thead>
          <tr>
            <th><%= t :name %></th>
            <th><%= t :email %></th>
            <th><%= t :color %></th>
            <th><%= t :status %>
              <%= help_tag t 'help.doctors.suspended' %>
            </th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          <% @doctors.each do |doctor| %>
            <tr>
              <td data-label="<%= t :name %>">
                <div class="d-flex py-1 align-items-center">
                  <span class="avatar me-2" style="background-image: url(<%= avatar_url(doctor.email) %>)"></span>
                  <div class="flex-fill">
                    <div class="font-weight-medium"><%= doctor.fullname %></div>
                    <div class="text-muted"><%= doctor.speciality %></div>
                  </div>
                </div>
              </td>
              <td class="text-muted" data-label="<%= t :email %>">
                <%= doctor.email %>
              </td>
              <td data-label="<%= t :color %>">
                <div class="text-muted">
                  <span class="badge" style="background-color: <%= doctor.color %>"></span>
                  <%= doctor.color %>
                </div>
              </td>
              <td class="text-muted" data-label="<%= t :status %>">
                <%= status_tag doctor %>
              </td>
              <td>
                <div class="btn-list flex-nowrap">
                  <%= component :dropdown do %>
                    <%= link_to t(:profile), doctor, class: "dropdown-item" %>
                    <%= link_to t(:edit), edit_doctor_path(doctor), class: "dropdown-item" %>
                    <%= link_to_suspend_or_delete doctor, class: "dropdown-item" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>