<div class="row">	
	<div class="eight columns">
		<h1><%= t :doctors %></h1>
		
		<ul id="list-items">
			<% @doctors.each do |doctor| %>
				<li>
					<h2>
						<%= link_to doctor.fullname, doctor %>
						<% if !doctor.is_active %>
							<span class="red radius label"><%= t :suspended %></span>
						<% end %>
					</h2>			
					
					<span style="color: <%= doctor.color %>">&#x25CF;</span>
					<span><strong><%= t :uid %>:</strong> <%=doctor.uid%></span>
					<span><strong><%= t :speciality %>:</strong> <%=doctor.speciality%></span>
				</li>
			<% end %>
		</ul>
	</div>
	
	<div class="four columns">
		<div class="panel">			
			<p><%= link_to t(:create_new_doctor), new_doctor_url, "data-icon" => "+" %></p>
		</div>
	</div>
	
</div>



	
