<div class="row">
	<div class="eight columns">
		
		<h1><%=@doctor.fullname%>
			<% if !@doctor.is_active %>
				<span class="red radius label"><%=_("Suspended")%></span>
			<% end %>
		</h1>
		
		<p>
			<strong><%=_("Unique identifier")%>:</strong> <%= @doctor.uid%>
		</p>
		<p>
			<strong><%=_("Email")%>:</strong> <%= @doctor.email%>
		</p>
		<p>
			<strong><%=_("Gender")%>:</strong> <%= @doctor.gender.titleize%>
		</p>
		<p>
			<strong><%=_("Speciality")%>:</strong> <%= @doctor.speciality%>
		</p>
	</div>
	
	<div class="four columns">

		<div class="panel">
			<p><%= _("Doctors who already have appointments or patients assigned to them, can't be deleted for obvious reasons, use the suspend button instead") %></p>
			
			<ul>
				<li><%= link_to _("Edit doctor's information"), edit_doctor_path(@doctor), "data-icon" => "x" %></li>
				<% if user_is_admin?(current_user) %>
					<li><%= link_to_suspend_or_delete @doctor %></li>
				<% end %>
				<li><%=link_to _("Return to the listing"), doctors_url, "data-icon" => "<" %></li>
			</ul>
						
		</div>
	</div>
</div>