<div id="pad-wrapper" class="user-profile">
    <!-- header -->
    <div class="row header">
        <div class="col-md-8">
            <img src="<%= avatar_url(@doctor.email,'100x100')%>" alt="contact" class="avatar img-circle" data-toggle="tooltip" title="<%= t :gravatar_tooltip %>" data-placement="bottom" />
            <h3 class="name"><%= @doctor.fullname %></h3>
            <span class="area"><%= @doctor.speciality %></span>
        </div>

        <% if !@doctor.is_active %>
        	<div class="pull-right doctor-status">
				<%= label_tag t(:suspended).downcase %>
			</div>
		<% end %>

    </div>

    <div class="row profile">
        <div class="col-md-12 bio">
            <div class="profile-box">

              <% if @doctor.is_active %>
                  <h6><%= t :calendar_feed %></h6>
                  <p style="word-wrap: break-word;"><%= raw (t :calendar_feed_message, doctor_name: @doctor.firstname, feed_url: @doctor.ciphered_feed_url).html_safe %></p>
                  <br />
              <% end %>

                <% if @appointments.size > 0 %>
                    <h6><%= t :future_appointments %></h6>
                    <br>
                    <!-- recent orders table -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-md-3">
                                    <span class="line"></span>
                                    <%= t :appointment_date %>
                                </th>
                                <th class="col-md-4">
                                    <span class="line"></span>
                                    <%= t :patient %>
                                </th>
                                <th class="col-md-5">
                                    <span class="line"></span>
                                    <%= t :notes %>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row -->
                            <% @appointments.each do |appointment| %>
                            <tr class="<% if appointment.id == @appointments.first.id %>first<% end %>">
                                <td>
                                	<sub><%=l appointment.starts_at.to_date, :format => :day_and_date %></sub> <br />
                                    <%= appointment.starts_at.to_formatted_s :time %> -
                                    <%= appointment.ends_at.to_formatted_s :time %>
                                </td>
                                <td>
                                    <%= link_to appointment.patient.fullname, appointment.patient %>
                                </td>
                                <td>
                                    <%= appointment.notes %>
                                </td>
                            <% end %>
                            </tr>
                        </tbody>
                    </table>

                <% else %>
                    <h6><%= t :future_appointments %></h6>
                    <p><%= raw (t :doctor_has_no_future_appointments, datebooks_url: link_to(t(:appointments).downcase, root_url)).html_safe %></p>
                <% end %>

            </div>
        </div>
    </div>
</div>

<script>
document.onclick = function(e) {
  if (e.target.className === 'selectable') {
      selectText(e.target);
  }
};
</script>
