<h1><%=@doctor.fullname%></h1>
<p>
	<label><%=_("First name:")%></label> <%= @doctor.firstname %>
</p>
<p>
	<label><%=_("Last name:")%></label> <%= @doctor.lastname %>
</p>
<p>
	<label><%=_("Unique Identifier:")%></label> <%= @doctor.uid%>
</p>
<p>
	<label><%=_("Email:")%></label> <%= @doctor.email%>
</p>
<p>
	<label><%=_("Gender:")%></label> <%= @doctor.gender.titleize%>
</p>
<p>
	<label><%=_("Speciality:")%></label> <%= @doctor.speciality%>
</p>
<p>
	<label><%=_("Status:")%></label> 
	<% if @doctor.is_active %>
		<%=_("Active")%>
    <% else %>
		<%=_("Suspended")%>
    <% end %>
</p>
<p>
	<%=link_to _("Edit"), edit_doctor_path(@doctor), :class => "g-button" %>
	<%=link_to _("Delete"), doctor_path(@doctor), :method => :delete, :confirm => _("Are you sure?"), :class => "g-button red" %>
</p>
