<div class="row">
	<div class="eight columns">
		
		<h1><span style="color: <%= @doctor.color %>">&#x25CF;</span>
			<%=@doctor.fullname%>
			<% if !@doctor.is_active %>
				<span class="red radius label"><%= t :suspended %></span>
			<% end %>
		</h1>
		
		<p>
			<strong><%= t :uid %>:</strong> <%= @doctor.uid%>
		</p>
		<p>
			<strong><%= t :email %>:</strong> <%= @doctor.email%>
		</p>
		<p>
			<strong><%= t :gender %>:</strong> <%= @doctor.gender.titleize%>
		</p>
		<p>
			<strong><%= t :speciality %>:</strong> <%= @doctor.speciality%>
		</p>
	</div>
	
	<div class="four columns">

		<div class="panel">			
			<ul>
				<li><%= link_to t(:edit_doctor), edit_doctor_path(@doctor), "data-icon" => "x" %></li>
				<% if user_is_admin?(current_user) %>
					<li><%= link_to_suspend_or_delete @doctor %></li>
				<% end %>
				<li><%= link_to t(:return_to_listing), doctors_url, "data-icon" => "<" %></li>
			</ul>
						
		</div>
	</div>
</div>