<p>
	Hello <%= @patient_name %>,<br />
	You have a dental appointment soon!
</p>
<p>
	We are sending you this email on behalf of <strong><%= @practice_name %></strong> because you have a scheduled appointment this coming <strong><%= @appointment_date %></strong> with <%= @doctor_name %>.
</p>
<p>
	It starts at: <strong><%= @sappointment_tart_time %></strong><br />
	and ends at: <strong><%= @appointment_end_time %></strong>
</p>
<p>
	See you soon!,<br />
	<%= @practice_name %>
</p>
