<p>
	Hello <%= @patient_name %>,<br />
	Thanks for visiting us
</p>
<p>
	We are sending you this email because you scheduled an appointment for the <strong><%= @appointment_date %></strong> with <%= @doctor_name %>.
</p>
<p>
	It starts at: <strong><%= @appointment_start_time %></strong><br />
	and ends at: <strong><%= @appointment_end_time %></strong>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="<%= @passbook_url %>"><%= image_tag "passbook-en.png", :width => 120 %></a>
        </td>
    </tr>
</table>

<p>
	See you soon!,<br />
	<%= @practice_name %>
</p>
