<p>
	Hola <%= @patient_name %>,<br />
	Gracias por tu visita
</p>
<p>
	Te enviamos este email en nombre de <strong><%= @practice_name %></strong> porque hiciste una cita para este próximo <strong><%=l @start_time.to_date, :format => :day_and_date %></strong> con <%= @doctor_name %>.
</p>
<p>
	Comienza a las: <strong><%=l @start_time.to_time.in_time_zone(@practice_timezone), :format => :just_the_time %></strong><br/ >
	y termina a las: <strong><%=l @end_time.to_time.in_time_zone(@practice_timezone), :format => :just_the_time %></strong>
</p>
<p>
	¿Eres un usuario de iOS o Android? Puedes descargar tu <a href="<%= @passbook_url %>">Passbook</a>
</p>
<p>
	¡Te vemos pronto!,<br />
	<%= @practice_name %>
</p>