<tr>
	<td class="content-block">
		Hola <%= @patient_name %>,<br />
		¡Tienes una cita pronto!
	</td>
</tr>

<tr>
	<td class="content-block">
		Te enviamos este email porque tienes agendada una cita este próximo <strong><%= @appointment_date %></strong> con <%= @doctor_name %>.
	</td>
</tr>

<tr>
	<td class="content-block">
		<div itemscope itemtype="http://schema.org/Event">
			<meta itemprop="name" content="Cita odontológica con <%= @doctor_name %>"/>
			<meta itemprop="startDate" content="<%= @appointment_start_datetime.iso8601 %>"/>
			<meta itemprop="endDate" content="<%= @appointment_end_datetime.iso8601 %>"/>
			<div itemprop="location" itemscope itemtype="http://schema.org/Place">
				<meta itemprop="name" content="<%= @practice_name %>"/>
			</div>
		</div>
		Comienza a las: <strong><%= @appointment_start_time %></strong><br />
		y termina a las: <strong><%= @appointment_end_time %></strong><br />
		<em>(hora de <%= @practice_timezone %>)</em>
	</td>
</tr>

<tr>
	<td class="content-block">
		¡Nos vemos pronto!,<br />
		<%= @practice_name %>
	</td>
</tr>
