<p>
	Hola <%= @patient_name %>,<br />
	Gracias por tu visita
</p>
<p>
	Te enviamos este email porque hiciste una cita para el <strong><%= @appointment_date %></strong> con <%= @doctor_name %>.
</p>
<p>
	Comienza a las: <strong><%= @appointment_start_time %></strong><br />
	y termina a las: <strong><%= @appointment_end_time %></strong>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="<%= @passbook_url %>"><%= image_tag "passbook-es.png", :width => 120 %></a>
        </td>
    </tr>
</table>

<p>
	¡Te vemos pronto!,<br />
	<%= @practice_name %>
</p>
