<p>
	Hello <%= @patient_name %>,<br />
	Thanks for visiting us
</p>
<p>
	We are sending you this email on behalf of <strong><%= @practice_name %></strong> because you scheduled an appointment for this coming <strong><%=l @start_time.to_date, :format => :day_and_date %></strong> with <%= @doctor_name %>.
</p>
<p>
	It starts at: <strong><%=l @start_time.to_time.in_time_zone(@practice_timezone), :format => :just_the_time %></strong><br />
	and ends at: <strong><%=l @end_time.to_time.in_time_zone(@practice_timezone), :format => :just_the_time %></strong>
</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <a href="<%= @passbook_url %>"><%= image_tag "passbook-en.png", :width => 120 %></a>
        </td>
    </tr>
</table>

<p>
	See you soon!,<br />
	<%= @practice_name %>
</p>
