<tr>
  <td class="aligncenter content-block">
    <h2><%= @appointment["patient_name"] %>, how was your experience with us at <%= @appointment["practice"] %>?</h2>
  </td>
</tr>

<tr>
  <td class="aligncenter content-block">
    <% if @use_custom_review_url %>
      <% (1..3).each do |i| %>
        <a href="<%= @internal_review_url %>&score=<%=i%>" target="_blank"><%= image_tag "rating-star@2x.png", :width => 35 %></a>
      <% end %>
      <% (4..5).each do |i| %>
        <a href="<%= @review_url %>" target="_blank"><%= image_tag "rating-star@2x.png", :width => 35 %></a>
      <% end %>
    <% else %>
      <% (1..5).each do |i| %>
        <a href="<%= @review_url %>&score=<%=i%>" target="_blank"><%= image_tag "rating-star@2x.png", :width => 35 %></a>
      <% end %>
    <% end %>
  </td>
</tr>
