<div class="page-header mb-4">
  <div class="row align-items-center">
    <div class="col">
      <h2 class="page-title">
        <%= t "payments.title" %>
      </h2>
    </div>
    <div class="col-auto ms-auto">
      <div class="btn-list">
        <% if current_user.practice.has_connect_account? %>
          <%= link_to new_payment_path, class: "btn btn-primary d-sm-inline-block" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg><!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <%= t("payments.create_new_payment") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-body">   
  <% if @payments_with_transfers.any? %>
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-vcenter table-mobile-md card-table">
            <thead>
              <tr>
                <th class="col-md-5"><%= t("payments.attributes.payments_notes") %></th>
                <th><%= t("payments.attributes.status") %>
                  <%= help_tag t 'help.payments.status' %>
                </th>
                <th><%= t("payments.attributes.charge_status") %>
                  <%= help_tag t 'help.payments.charge_status' %>
                </th>
                <th><%= t("payments.attributes.created_at") %></th>
                <th class="w-1"><%= t(:actions) %></th>
              </tr>
            </thead>
            <tbody>
              <% @payments_with_transfers.each do |payment_item| %>
                <%= render partial: 'payment_row', locals: { payment_item: payment_item } %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card-footer">
        <% if @should_display_load_more %>
          <%= link_to t(:load_more_payments), payments_url(:starting_after => @next_starting_after), remote: true, class: "btn" %>
        <% else %>
          <%= t :showing_all_payments %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= component :empty, title: t("empty.payments.title"), description: t("empty.payments.description"), image_name: 'payments.svg' %>
  <% end %>
</div>