<%= form_tag(patient_patient_treatments_path, :method => :post, :remote => true) do %>

	<fieldset>
	  <legend><%=_("Log new treatment")%></legend>

	  <p>
	  	<label for="treatment_id"><%= _("Treatment name") %></label>
			<%= select_tag("treatment_id", options_from_collection_for_select(treatments, "id", "name"), :title => _("Select a treatment")) %> 
		</p>
				
		<p>
			<label for="patient_treatment_doctor_id"><%= _("Performed by") %></label>
			<%= select_tag("patient_treatment[doctor_id]", options_from_collection_for_select(doctors, "id", "fullname"), :title => _("Select a doctor")) %> 
		</p>
		
		<p>
			<label for="patient_treatment_notes"><%= _("Additional notes") %></label>
			<%= text_area_tag "patient_treatment[notes]", nil, :placeholder => _("Additional notes"), :rows => 2, :title => _("Additional notes"), :limit => 500 %>
		</p>
		
	</fieldset>	
	
	<%= submit_tag(_("Add treatment"), :class => "nice button white", :disable_with => _("Please wait...")) %>

<% end %>