<li id="treatment<%=treatment.id%>">
	<h2><a><%=treatment.name %>
		<small><%=number_to_currency_with_currency(treatment.price)%></small></a>
		<span data-icon="<%=treatment.is_completed? == true ? '#' : '' %>" class="right" />
	</h2>
	<% if treatment.is_completed? %>
		<span class="red radius label"><%= time_ago_in_words treatment.updated_at %></span>
	<% else %>
		<span class="blue radius label"><%= time_ago_in_words treatment.created_at %></span>
	<% end %>
	<span class="white radius label"><%= treatment.doctor.fullname %></span>
	<%= treatment.notes %>
		
	<div class="drawer">
		<%= form_tag([patient, treatment], :method => :put, :remote => true) do %>
			<div class="row">
				<div class="twelve columns">
					<p><label for="patient_treatment_doctor_id"><%= _("Performed by") %></label>
						<%= select_tag("patient_treatment[doctor_id]", options_from_collection_for_select(doctors, "id", "fullname", :selected => treatment.doctor_id), :title => _("Select a doctor")) %></p>
					
					<p><label for="patient_treatment_notes"><%= _("Additional notes") %></label>
					<%= text_area_tag "patient_treatment[notes]", treatment.notes, :placeholder => _("Additional notes"), :rows => 2, :title => _("Additional notes"), :limit => 500 %></p>
					
					<p><%= hidden_field_tag("patient_treatment[is_completed]", 0)%>
					<label><%= check_box_tag("patient_treatment[is_completed]", 1, treatment.is_completed, :title => _("Is this completed?")) %> <%= _("Is this completed?") %></label></p>
					
					<%= submit_tag(_("Save changes"), :class => "nice button white tiny", :disable_with => _("Please wait...")) %>
					&nbsp;&nbsp;
					<%=link_to _('Delete treatment'), [patient,treatment], :method => :delete, :confirm => _("Are you sure? A chargeback will be applied to the patient's balance if this treatment was completed"), "data-icon" => "-", :remote => true %>
				</div>	
			</div>
		<% end %>
	</div>
</li>