<% if treatment.is_completed?
	cclass = "ui-selected disabled-list checked"
   else
	cclass = ""
   end
%>

<li id="treatment<%=treatment.id%>" class="<%=cclass%>">
	<h2><% if treatment.tooth_number != 0 %>#<%=treatment.tooth_number%> - <%end%> <%=treatment.name %></h2>
	<span><%=number_to_currency(treatment.price)%></span>
	<% if treatment.is_completed? %>
		<span><%=_("Completed at")%> <%=l treatment.updated_at, :format => :long %></span>
	<% end %>
	
	<div class="list-item">
		<% form_tag([patient, treatment], :method => :put, :remote => true) do %>
			<%= hidden_field_tag("patient_treatment[is_completed]", 0)%>
			<%= check_box_tag("patient_treatment[is_completed]", 1, treatment.is_completed, :title => _("Is this completed?"), :onchange => "$(this).trigger('submit.rails');") %>
		<% end %>
	</div>
	
	<div class="list-item">
		<% form_tag([patient, treatment], :method => :put, :remote => true) do %>
			<%= select_tag("patient_treatment[doctor_id]", options_from_collection_for_select(doctors, "id", "fullname", :selected => treatment.doctor_id), :title => _("Select a doctor"), :onchange => "$(this).trigger('submit.rails');") %>
		<% end %>
	</div>
</li>