<ul id="list-items">
	<% @treatments.each do |treatment| %>
		<%= render :partial => "patient_treatments/show", :locals => {:treatment => treatment, :patient => @patient, :doctors => @doctors} %>
	<% end %>
</ul>

<div id="toolbar">
	<% if !@all_treatments.empty? %>
		<%= render :partial => "/patient_treatments/new", :locals => {:treatments => @all_treatments, :doctors => @doctors} %>
	<% else %>
		<%=_("Please")%> <%=link_to 'fill the prices', treatments_path%> <%=_("for your treatments before using this")%>
	<% end %>
</div>