<%= stylesheet_link_tag "fullcalendar" %>
<%= javascript_include_tag "fullcalendar/jquery.fullcalendar.min", "fullcalendar/jquery.ui.touch" %>

<div class="row">

	<h1><%=_('Datebook')%></h1>
		
	<script type="text/javascript">
		
		$(document).ready(function() {
			
			// Setup touch dragging for external events
			$('.ui-draggable').addTouch();
			
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
								
			$("#calendar").fullCalendar({
				defaultView: "agendaDay",
				minTime: 8,
				maxTime: 21,
				firstDay: 1,
				height: "1200",
				//timeFormat: 'h:mm t{ - h:mm t} ',
				header: {
					left: "prev,next today",
					center: "",
					right: ""
				},
				monthNames: ['<%=_("January")%>', '<%=_("February")%>', '<%=_("March")%>', '<%=_("April")%>', '<%=_("May")%>', '<%=_("June")%>', '<%=_("July")%>', '<%=_("August")%>', '<%=_("September")%>', '<%=_("October")%>', '<%=_("November")%>', '<%=_("December")%>'],
				monthNamesShort: ['<%=_("Jan")%>', '<%=_("Feb")%>', '<%=_("Mar")%>', '<%=_("Apr")%>', '<%=_("May")%>', '<%=_("Jun")%>', '<%=_("Jul")%>', '<%=_("Aug")%>', '<%=_("Sep")%>', '<%=_("Oct")%>', '<%=_("Nov")%>', '<%=_("Dec")%>'],
				dayNames: ['<%=_("Sunday")%>', '<%=_("Monday")%>', '<%=_("Tuesday")%>', '<%=_("Wednesday")%>', '<%=_("Thursday")%>', '<%=_("Friday")%>', '<%=_("Saturday")%>'],
				dayNamesShort: ['<%=_("Sun")%>', '<%=_("Mon")%>', '<%=_("Tue")%>', '<%=_("Wed")%>', '<%=_("Thu")%>', '<%=_("Fri")%>', '<%=_("Sat")%>'],
				buttonText: {
				    prev:     '&nbsp;&#9668;&nbsp;',  // left triangle
				    next:     '&nbsp;&#9658;&nbsp;',  // right triangle
				    prevYear: '&nbsp;&lt;&lt;&nbsp;', // <<
				    nextYear: '&nbsp;&gt;&gt;&nbsp;', // >>
				    today:    '<%=_("today")%>',
				    month:    '<%=_("month")%>',
				    week:     '<%=_("week")%>',
				    day:      '<%=_("day")%>'
				},
				editable: true,
	      eventSources: [{
	          url: '/appointments',
	          ignoreTimezone: true
	      }],
				allDaySlot: false,
				allDayDefault: false,
				dayClick: function(dayDate, allDay, jsEvent, view){
					if (view.name != "month"){		
						var url = "/appointments/new";
						var dayDate = Math.round((dayDate).getTime() / 1000);
						
						$.get(url, {"starts_at": dayDate}, function(data) {
						  $("#modal_dialog").html(data).reveal();
						});
					} else {
						$("#calendar").fullCalendar('changeView', 'agendaDay');
						$("#calendar").fullCalendar('gotoDate', dayDate);
					}
				},
				eventClick: function(calEvent, jsEvent, view) {
					var url = "/appointments/" + calEvent.id + "/edit?patient_id=" + calEvent.patient_id;
					
					$.get(url, function(data) {
					  $("#modal_dialog").html(data).reveal();
					});
				},
				
				eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
					//update the event with the new data
					$.ajax({ 
					    type: "PUT", 
					    url: "/appointments/" + JSON.stringify(event.id),
					    data: { 
					    	"appointment[starts_at]": JSON.stringify(event.start), 
								"appointment[ends_at]": JSON.stringify(event.end)
							  }
					});
				},
				eventResize: function(calEvent, dayDelta, minuteDelta, revertFunc, jsEvent, ui, view) {
					// update the event with the new data
					$.ajax({ 
					    type: "PUT", 
					    url: "/appointments/" + calEvent.id,
					    data: { 
					    	"appointment[starts_at]": JSON.stringify(calEvent.start), 
								"appointment[ends_at]": JSON.stringify(calEvent.end), 
							  }
					});
				},
				eventAfterRender: function( event, element, view ) { 
					// Add touch dragging to event element 
					element.addTouch();
				},
				eventRender: function(event, element) {
					// Append the name of the patient    
					element.find('.fc-event-time').append(" " + event.firstname + " " + event.lastname);
			    }
				
			});	
		});	
	</script>
	
	<div id="calendar"></div>
	<div id="modal_dialog" class="reveal-modal">
		<%=_('Please wait...')%>
	</div>
	
</div>

<div class="row">
	<div class="twelve columns">
		<ul class="block-grid two-up">		
			<% @doctors.each do |doctor| %>
				<li><span style="color: <%= doctor.color %>">&#x25CF;</span> <%= doctor.fullname %></li>
			<% end %>
		</ul>
	</div>
</div>