<%= form_for(@appointment, :remote => true) do |f| %>
	<p>		
		<%= text_field_tag "appointment[patient_id]", nil, :title => _("Enter the patient name or Unique Identifier") %>
	</p>

	<p>
		<%= f.label _("Doctor") %>
		<%= f.select(:doctor_id, options_from_collection_for_select(@doctors, "id", "fullname", :selected => @appointment.doctor_id), :title => _("Select a doctor")) %>
	</p>

	<p>
		<%= f.text_area :notes, :placeholder => _("Additional notes"), :rows => 2, :title => _("Additional notes"), :limit => 255  %>
	</p>

	<%= f.submit(_("Save"), :class => "g-button", :disable_with => _("Please wait...")) %> 
	
	<% if controller.action_name == "edit" %> 
		<%=link_to _('Delete appointment'), @appointment, :method => :delete, :remote => :true, :confirm => _("Are you sure?"), :class => "g-button red" %> 
	<% else %>
		<%= f.hidden_field :starts_at %>
	<% end %> 
	<%= _("or") %> <a id="close_dialog" href="#">Cancel</a>

<% end %>