<%= form_for(@appointment, :remote => true) do |f| %>
	<p>		
		<%= f.label  _("Enter the patient name or Unique Identifier") %>
		<%= text_field_tag "appointment[patient_id]", nil, :title => _("Enter the patient name or Unique Identifier"), :class => "input-text" %>
	</p>
	
	<div class="clear"></div>
	
	<p>
		<% if @doctors.empty? %>
			<%=_("Please")%> <%=link_to _('create a doctor'), doctors_path%> <%=_("before trying to write down appointments")%>
		<% else %>
			<%= f.label _("Doctor") %>
			<%= f.select(:doctor_id, options_from_collection_for_select(@doctors, "id", "fullname", :selected => @appointment.doctor_id), :title => _("Select a doctor")) %>
		<% end %>
	</p>

	<p>
		<%= f.text_area :notes, :placeholder => _("Additional notes"), :rows => 2, :title => _("Additional notes"), :limit => 255  %>
	</p>
	
	<%= f.submit(_("Save"), :class => "button nice white", :disable_with => _("Please wait...")) %> 

	<% if controller.action_name == "edit" %> 
		<%= link_to _('Delete appointment'), @appointment, :method => :delete, :remote => :true, :confirm => _("Are you sure?"), "data-icon" => "-" %> 
	<% else %>
		<%= f.hidden_field :starts_at %>
	<% end %> 
	
	<a class="close-reveal-modal">&#215;</a>
<% end %>