<%= form_for(@review, :remote => true, :class => "form-horizontal") do |f| %>
  <!-- <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <p class="form-group">
    <a href="#" data-score="1" class="rating-star"><%= image_tag asset_path('rating-star@2x.png'), :width => 35 %></a>
    <a href="#" data-score="2" class="rating-star"><%= image_tag asset_path('rating-star@2x.png'), :width => 35 %></a>
    <a href="#" data-score="3" class="rating-star"><%= image_tag asset_path('rating-star@2x.png'), :width => 35 %></a>
    <a href="#" data-score="4" class="rating-star"><%= image_tag asset_path('rating-star@2x.png'), :width => 35 %></a>
    <a href="#" data-score="5" class="rating-star"><%= image_tag asset_path('rating-star@2x.png'), :width => 35 %></a>
  </p>

  <p class="form-group">
    <label><%= t :tell_us_about_your_experience_at_practice, practice_name: @appointment.datebook.practice.name %></label><br>
    <%= f.text_area :comment, :rows => 2, :maxlength => 255, :class => "form-control" %>
  </p>

  <p class="form-group">
    <%= f.hidden_field :appointment_id %>
    <%= f.hidden_field :score %>
    <%= f.submit(t(:save), :class => "btn btn-primary", data: { disable_with: t(:please_wait) }, disabled: true) %>
  </p>
<% end %>

<script>
$(document).ready(function() {
	$("a.rating-star").click(function() {
		var element = $(this);
		$('#review_score').val(element.data('score'));
    fillStarsTo(element.data('score'));
		return false;
	});

  function fillStarsTo(count) {
    if (count > 0) {
      $('input[type="submit"]').removeAttr('disabled');
    }

    $(".rating-star > img").each(function( index ) {
      $(this).attr("src", "<%= asset_path('rating-star@2x.png') %>");
    });
    $(".rating-star > img").slice(0, count).each(function( index ) {
      $(this).attr("src", "<%= asset_path('rating-star-filled@2x.png') %>");
    });
  }

  fillStarsTo(<%= @review.score || 0 %>);
  $("#review_comment").focus();

});
</script>
