<div id="pad-wrapper" class="table-wrapper users-list">

	<div class="row header col-md-12">
        <h3><%= t :reviews %></h3>

        <!-- <div class="pull-right-lg">
            <%= link_to t(:create_new_treatment), new_treatment_url, "class" => "btn-flat primary pull-right" %>
        </div> -->
    </div>

    <div class="row">
		    <div class="col-md-12">
			    <% if @reviews.empty? %>
              <div class="alert alert-warning">
                  <p><%= t(:no_reviews_message).html_safe %></p>
              </div>
				<% else %>
			        <table class="table table-hover">
			            <thead>
			                <tr>
			                    <th class="col-md-2">
			                        <%= t :appointment %>
			                    </th>
			                    <th class="col-md-4">
			                        <span class="line"></span> <%= t :review %>
			                    </th>
			                    <th class="col-md-2">
                              <span class="line"></span> <%= t :created_at %>
			                    </th>
			                </tr>
			            </thead>
			            <tbody>
				            <% @reviews.each do |review| %>
					            <tr class="<% if review.id == @reviews.first.id %>first<% end %>">
					            	  <td>
					                    <span class="name">
                                <%= link_to review.appointment.patient.fullname, review.appointment.patient %> <br />
                                <%= link_to review.appointment.doctor.fullname, review.appointment.doctor %> <br />
					                    	<%= review.appointment.starts_at.to_formatted_s :long %>
					                   	</span>
					                </td>
					                <td>
                              <%= ratings_widget review.score %> <br />
                              <p><%= review.comment.html_safe %></p>
									        </td>

					                <td>
                            <%= review.created_at.to_formatted_s :long %>
					                </td>
					            </tr>
					        <% end %>

					    </tbody>
					</table>
				<% end %>
		</div>
	</div>
</div>
