<div id="pad-wrapper" class="table-wrapper users-list">

	<div class="row header col-md-12">
  		<h3><%= t :reviews %></h3>
  </div>

    <div class="row">
		    <div class="col-md-12">
			    <% if @reviews.empty? %>
              <div class="alert alert-warning">
                  <p><%= t(:no_reviews_message).html_safe %></p>
              </div>
				<% else %>
			        <table class="table table-hover">
			            <thead>
			                <tr>
			                    <th class="col-md-2">
			                        <%= t :appointment %>
			                    </th>
			                    <th class="col-md-4">
			                        <span class="line"></span> <%= t :review %>
			                    </th>
			                    <th class="col-md-2">
                              <span class="line"></span> <%= t :created_at %>
			                    </th>
			                </tr>
			            </thead>
			            <tbody>
				            <% @reviews.each do |review| %>
											<%= render :partial => "show", :locals => { :review => review }%>
					        	<% end %>
					    		</tbody>
									<tfoot>
										<tr>
											<td align="center" colspan="3">
												<% if @should_display_load_more %>
													<%= link_to t(:load_more_reviews), reviews_url(:page => @current_page), remote: true %>
												<% end %>
											</td>
										</tr>
									</tfoot>
								</table>
				<% end %>
		</div>
	</div>
</div>
