<%= form_for(:signin, url: user_session_path, html: { class: "card card-md" }) do
|f| %>

<div class="card-body">
  <div class="mb-3">
    <%= f.email_field :email, :placeholder => t(:email), :autocapitalize =>
    "off", :autocorrect => "off", :class => "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.password_field :password, :placeholder => t(:password), :class =>
    "form-control" %>
  </div>

  <div class="mb-2">
    <label class="form-check">
      <%= f.check_box :remember_me, class: "form-check-input" %>
      <span class="form-check-label"><%= t :remember_me %></span>
    </label>
  </div>

  <div class="form-footer">
    <%= f.submit(t(:signin), :class => "btn btn-primary w-100") %>
  </div>
</div>
<% end %>

<div class="text-center text-muted mt-3">
  <%= t :no_account %> <%= link_to t(:signup), signup_url %>
</div>