<!doctype html>  
<html>
<head>
  <title>Odontome</title>
  <%= stylesheet_link_tag "application", "default-theme/jquery-ui-1.7.2.custom", "tipTip", "autosuggest" %>
  <%= javascript_include_tag "jquery.min", "jquery-ui.min", "jquery.tipTip.min", "jquery.limit-1.2.min", "jquery.autosuggest.min", "rails", "application" %>
  <link rel="shortcut icon" href="/favicon.ico">  
</head>

<body>
	<div id="container">
		<header>
			<%= link_to (image_tag "logo.png", :title => _("Home"), :class => "logo"), root_path %>
			<%= render "layouts/navigation" %>
		</header>
	
		<div id="content">
			<%= render "shared/flash_messages" %>
			<%= yield %>
		</div>
		
		<footer>
			<!-- Footer goes here -->
		</footer>
	</div>
</body>
</html>