<!doctype html>  
<html>
<head>
  <title><%= _("Odonto.me, beautiful dental practice management")%></title>
  <%= stylesheet_link_tag "application", "default-theme/jquery-ui-1.7.2.custom", "tipTip", "autosuggest" %>
  <%= javascript_include_tag "jquery.min", "jquery-ui.min", "jquery.tipTip.min", "jquery.limit-1.2.min", "jquery.autosuggest.min", "jquery.simple-color.min", "rails", "application", "uservoice" %>
  <link rel="shortcut icon" href="/favicon.ico">  

</head>

<body>
	<div id="container">
		<header>
			<%= link_to (image_tag "logofull.png", :title => _("Home"), :class => "logo"), root_path %>
			<%= render "shared/navigation" %>
		</header>
		
		<%= render "shared/flash_messages" %>
		
		<div id="content">
			<%= yield %>
		</div>
		
		<!-- <footer>
			<%= render "shared/footer"%>
		</footer> -->
	</div>
</body>
</html>