<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="msapplication-TileColor" content="#206bc4" />
    <meta name="theme-color" content="#206bc4" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
	  <title>Odonto.me</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script type="module" src="https://cdn.simplefileupload.com/simple-file-upload.latest.js" async></script>

	  <link rel="shortcut icon" href="/favicon.ico">

    <%= render 'shared/google_ads' %>
</head>

<body class="theme-light" id="app-body">
  <div class="page">
    <%= render "shared/impersonation_banner" %>
    <%= render "shared/navigation" %>

    <div class="page-wrapper">
      <div class="container-fluid">
        <%= render "shared/flash_messages" %>
        <%= render "shared/announcements" %>
        <%= yield %>
      </div>

      <%= render "shared/footer" %>
    </div>
  </div>
</body>
</html>
