<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta name="msapplication-TileColor" content="#206bc4" />
    <meta name="theme-color" content="#206bc4" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <title><%= t :welcome %></title>
    
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'shared/google_ads' %>

    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tabler/core@latest/dist/css/tabler.min.css"
    />
  </head>

  <body class="border-top-wide border-primary d-flex flex-column">
    <div class="page page-center">
      <div class="container-tight py-4">
        <div class="text-center mb-4">
          <%= link_to (image_tag "logo.png", :title => t(:home), :class =>
          "navbar-brand navbar-brand-autodark", :width => 75), root_path %>
        </div>

        <%= render "shared/flash_messages" %> <%= yield %>
      </div>
    </div>
  </body>
</html>
