<tr>
	<td class="content-block">
		<h3>Daily recap for <%= l @date.in_time_zone(@practice_timezone).to_date, :format => :day_and_date %></h3>
	</td>
</tr>

<% if !@balance.nil? %>
<tr>
	<td class="content-block">
		<h4><%= t :balance %></h4>
		<p><%= number_to_currency @balance.first['amount'], :unit => @currency_unit %> processed yesterday</p>
	</td>
</tr>
<% end %>

<% if !@appointments.nil? %>
<tr>
	<td class="content-block">
		<h4><%= @appointments.size %> appointments scheduled</h4>

		<table width="100%" cellpadding="0" cellspacing="0">
			<% @appointments.each do |appointment| %>
			<tr>
				<td width="25%">
					<%= raw "#{l(appointment['starts_at'].to_time.in_time_zone(@practice_timezone), :format => :short)} <br /><small>#{appointment['name']}</small>"%>
				</td>
				<td>
					<%= raw "#{appointment['patient_firstname']} #{appointment['patient_lastname']} <br /><small>with #{appointment['doctor_firstname']} #{appointment['doctor_lastname']} </small>" %>
				</td>
			</tr>
			<% end %>
		</table>

	</td>
</tr>
<% end %>

<% if !@patients.nil? %>
<tr>
	<td class="content-block">
		<h4><%= @patients.size %> new patients</h4>

		<table>
			<% @patients.each do |patient| %>
			<tr>
				<td width="60px"><img src="<%= avatar_url(patient['email'])%>" alt="contact" class="img-circle" width="50px" /></td>
				<td><%= link_to "#{patient['firstname']} #{patient['lastname']}", patient_url(:id => patient['id']) %></td>
			</tr>
			<% end %>
		</table>
	</td>
</tr>
<% end %>
