<h3>Daily recap for <%= l @date.to_date, :format => :day_and_date %></h3>

<% if !@appointments.nil? %>
	<h4><%= @appointments.size %> appointments scheduled</h4>

	<ul>
		<% @appointments.each do |appointment| %>
			<li><%= raw "#{appointment['patient_firstname']} #{appointment['patient_lastname']} with #{appointment['doctor_firstname']} #{appointment['doctor_lastname']} <br /><small>#{l(appointment['starts_at'].to_time, :format => :short)} (#{appointment['name']})</small>"%></li>
		<% end %>
	</ul>
<% end %>

<% if !@patients.nil? %>
	<h4><%= @patients.size %> patients added</h4>
	
	<table>
		<% @patients.each do |patient| %>
			<tr>
				<td width="60px"><img src="<%= avatar_url(patient['email'])%>" alt="contact" class="img-circle" width="50px" /></td>
				<td><%= link_to "#{patient['firstname']} #{patient['lastname']}", patient_url(:id => patient['id']) %></td>
			</tr>
		<% end %>
	</table>
<% end %>