<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<style><!--
		        body {background: #20293c url(http://odontome.heroku.com/images/layout/background.png);margin: 0;padding: 20px;}
		        p {padding:5px 0;}
		        a img {border: none;}
		        a {border: none;}
		        .body {background-color: #f7f5f0;}
		        td.content {padding: 22px 0 0 14px;text-align: left;}
		        .header {}
		        .header h1 {font-family: Georgia;font-size: 32px;font-weight: normal;color: #bfbfbf;display: inline;text-align: left;padding-left:22px;}
		        .content p {font-family: 'Lucida Grande';font-size: 12px;color: #333333;margin: 0 0 10px 0;text-align: left;}
		        .content p.first {margin-top: 10px;}
		        .content a {font-family: Georgia;font-size: 13px;color: #2679b9;font-style: italic;}
		        .content a.center {font-size: 12px;text-align: center;display: block;color: #999999;padding: 8px 0 12px 0;text-decoration: none;}
		        .content img.inline {border: 1px solid #dedede;padding: 4px;}
		        .content li {font-family: 'Lucida Grande';font-size: 12px;color: #333333;}
		--></style>
  </head>
  <body>

		<p>
			&nbsp;
		</p>
		<table cellspacing="0" cellpadding="0" width="100%">
			<tbody>
				<tr>
					<td align="center">
						<table cellspacing="0" cellpadding="0" width="600">
							<tbody>
								<tr>
									<td class="header" height="77" align="left">
										<table border="0" cellspacing="0" cellpadding="0" width="600">
											<tbody>
												<tr>
													<td>
														<img class="logo" title="Inicio" src="http://odontome.heroku.com/images/logo.png" alt="Logo">
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center">
						<table class="body" cellspacing="10" cellpadding="0" width="600">
							<tbody>
								<tr>
									<td class="content" align="center" valign="top">
										<p>
											<%=_('Hello and Welcome to Odonto.me!')%>
										</p>
								
										<p>
											<%=_('If you haven\'t already, you can go to')%> <%=link_to "http://my.odonto.me", "http://my.odonto.me" %> <%=_('and login with your email address and password to start setting up your practice in')%> 
											<%= link_to _('My practice'), "http://my.odonto.me/practice" %>
										</p>

										<ul>
											<li><%=_('You can start by customizing your settings like preferred language and name in My practice settings')%></li>
											<li><%=_('Add users that can access your account (say an assistant) or change your first and last name (you are initially named \'Administrator User\') in My Users')%></li>
											<li><%=_('Or add the Doctors who will see your Patients in My Doctors.')%></li>
										</ul>

										<p>
											<%=_('Then you can start adding Patients and Appointments from the links on the top of the page.')%>
										</p>

										<p>
											<%=_('Please don\'t ever hesitate to contact us by replying to this email or by clicking the Feedback tab.')%>
										</p>

										<p>
											<%=_('Thanks for signing up')%>,<br />
											<%=_('The Odonto.me Team')%>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>

  </body>
</html>